Repository rnabioco/squiggy-positron: changes, and which Codecov flags are due for each by the changed paths.
All: python, typescript, Python Backend, TypeScript Extension

test: Add 41 comprehensive tests for cache.py module
  tests/test_cache.py
Due: none

fix: Use sample-specific BAM file in EVENTALIGN mode for multi-sample plots
  squiggy/__init__.py
Due: python

fix: Remove unused imports and variables in cache tests
  tests/test_cache.py
Due: none

test: Improve utils.py test coverage from 47% to 56% (#108)
  TEST_COVERAGE_PLAN.md
  tests/test_cache.py
  tests/test_utils.py
Due: none

debug: Add logging to PlotOptions update methods
  src/views/squiggy-plot-options-view.ts
Due: typescript, TypeScript Extension

fix: Use executeSilent for multi-line Python in getReferencesForSample
  src/backend/squiggy-runtime-api.ts
Due: typescript, TypeScript Extension

test: Add 19 tests for file-commands.ts (11.6% coverage)
  coverage.json
  package-lock.json
  src/commands/__tests__/file-commands.test.ts
Due: typescript

chore: Remove temporary documentation files
  INVESTIGATION_REPORT.md
  KNOWN_ISSUES.md
  TEST_COVERAGE_PLAN.md
Due: none

test: Add 17 tests for plot-commands.ts (57.2% coverage)
  src/__mocks__/vscode.ts
  src/commands/__tests__/plot-commands.test.ts
Due: typescript

debug: Add React-side logging to PlotOptions webview
  src/extension.ts
  src/views/components/squiggy-plot-options-core.tsx
Due: typescript, TypeScript Extension

refactor: Reorganize Python library - move plotting code, centralize logging, reduce duplication (#109)
  INVESTIGATION_REPORT.md
  KNOWN_ISSUES.md
  TEST_COVERAGE_PLAN.md
  squiggy/__init__.py
  squiggy/api.py
  squiggy/logging_config.py
  squiggy/modifications.py
  squiggy/plot_strategies/signal_overlay_comparison.py
  squiggy/plotting.py
  squiggy/utils.py
Due: python, Python Backend

test: Add 11 tests for state-commands.ts (94.7% coverage) ⭐
  src/commands/__tests__/state-commands.test.ts
Due: typescript

fix: Update webview title matching after renaming 'Advanced Plotting' to 'Plotting'
  src/views/components/webview-entry.tsx
Due: typescript, TypeScript Extension

test: Add session-commands tests (14/22 passing, partial progress)
  src/__mocks__/vscode.ts
  src/commands/__tests__/session-commands.test.ts
Due: typescript

test: Fix session-commands tests (26/26 passing, 92% coverage) ⭐
  src/__mocks__/vscode.ts
  src/commands/__tests__/session-commands.test.ts
Due: typescript

feat: Rename comparison plot types and fix aggregate plot sample selection
  src/extension.ts
  src/views/components/squiggy-plot-options-core.tsx
Due: typescript, TypeScript Extension

test: Add 15 tests for squiggy-session-panel.ts (70.3% coverage)
  src/views/__tests__/squiggy-session-panel.test.ts
Due: typescript, TypeScript Extension

test: Add 16 tests for squiggy-modifications-panel.ts (100% coverage) ⭐
  src/views/__tests__/squiggy-modifications-panel.test.ts
Due: typescript, TypeScript Extension

test: Add 21 tests for squiggy-reads-view-pane.ts (100% coverage) ⭐
  src/views/__tests__/squiggy-reads-view-pane.test.ts
Due: typescript, TypeScript Extension

test: Add 36 tests for squiggy-file-panel.ts (100% stmt/func/line coverage)
  coverage/coverage-summary.json
  coverage/index.html
  coverage/lcov-report/index.html
  coverage/lcov-report/squiggy-file-panel.ts.html
  coverage/lcov.info
  coverage/squiggy-file-panel.ts.html
  src/views/__tests__/squiggy-file-panel.test.ts
Due: typescript, TypeScript Extension

test: Add 23 tests for squiggy-motif-panel.ts (100% stmt/func/line coverage)
  coverage/coverage-summary.json
  coverage/index.html
  coverage/lcov-report/index.html
  coverage/lcov-report/squiggy-motif-panel.ts.html
  coverage/lcov.info
  coverage/squiggy-motif-panel.ts.html
  src/views/__tests__/squiggy-motif-panel.test.ts
Due: typescript, TypeScript Extension

test: Add 25 tests for squiggy-plot-panel.ts (92.3% coverage)
  coverage/coverage-summary.json
  coverage/index.html
  coverage/lcov-report/index.html
  coverage/lcov-report/squiggy-plot-panel.ts.html
  coverage/lcov.info
  coverage/squiggy-plot-panel.ts.html
  src/__mocks__/vscode.ts
  src/webview/__tests__/squiggy-plot-panel.test.ts
Due: typescript, TypeScript Extension

fix: Add missing plot_aggregate_comparison and fix delta length mismatch
  squiggy/__init__.py
  squiggy/plotting.py
  squiggy/utils.py
Due: python, Python Backend

fix: Pass sample_name to read fetching functions in multi-sample mode
  squiggy/io.py
  squiggy/plotting.py
Due: python, Python Backend

docs: Update CHANGELOG.md for v0.1.13-alpha
  CHANGELOG.md
Due: none

docs: Update documentation to reflect current codebase
  CLAUDE.md
  README.md
  docs/developer.md
  docs/quick_reference.md
Due: none

refactor: Remove Single Read plot type from Plotting panel
  src/types/messages.ts
  src/views/components/squiggy-plot-options-core.tsx
  src/views/squiggy-plot-options-view.ts
Due: typescript, TypeScript Extension

Review and Update Squiggy Documentation (#111)
  CLAUDE.md
  README.md
  docs/developer.md
  docs/quick_reference.md
Due: none

docs: Archive completed design documentation
  docs/archive/PHASE1_DESIGN.md
  docs/archive/PHASE2_COMPLETION_SUMMARY.md
  docs/archive/PHASE2_IMPLEMENTATION_GUIDE.md
  docs/archive/PHASE3_PLAN.md
  docs/archive/README.md
  docs/archive/UNIFIED_STATE_ARCHITECTURE.md
  docs/archive/issue-92-tasks.md
Due: none

refactor: Remove Aggregate button from Read Explorer
  src/types/squiggy-reads-types.ts
  src/views/components/squiggy-reads-core.tsx
  src/views/components/squiggy-reads-instance.tsx
  src/views/components/squiggy-reference-group.tsx
Due: typescript, TypeScript Extension

chore: Fix linting errors and merge main
  squiggy/constants.py
  squiggy/io.py
  squiggy/plot_strategies/aggregate_comparison.py
  src/extension.ts
  src/views/components/squiggy-plot-options-core.tsx
  src/views/squiggy-plot-options-view.ts
Due: python, typescript, Python Backend, TypeScript Extension

test: Add comprehensive backend testing suite (104 tests, 71.4% coverage)
  .gitignore
  jest.config.js
  jest.setup.js
  package-lock.json
  package.json
  src/backend/__tests__/positron-runtime-client.test.ts
  src/backend/__tests__/squiggy-positron-runtime.test.ts
  src/backend/__tests__/squiggy-runtime-api.test.ts
  src/backend/squiggy-runtime-api.ts
  src/commands/__tests__/file-commands.test.ts
  src/commands/__tests__/session-commands.test.ts
  src/commands/__tests__/state-commands.test.ts
  src/state/__tests__/file-resolver.test.ts
  src/state/__tests__/path-resolver.test.ts
  src/state/__tests__/session-state-manager.test.ts
  src/utils/__tests__/error-handler.test.ts
  src/utils/error-handler.ts
  src/views/__tests__/squiggy-motif-panel.test.ts
  src/views/__tests__/squiggy-reads-view-pane.test.ts
  src/views/__tests__/squiggy-session-panel.test.ts
  src/views/base-webview-provider.ts
  src/views/components/__tests__/column-resizer.test.tsx
  src/views/components/__tests__/squiggy-read-item.test.tsx
  src/views/components/__tests__/squiggy-reference-group.test.tsx
  src/webview/__tests__/squiggy-plot-panel.test.ts
Due: typescript, TypeScript Extension

chore: Reduce Python coverage threshold to 60% (current: 64.94%)
  pyproject.toml
Due: none

fix: Make tests more resilient to code changes
  src/commands/__tests__/plot-commands.test.ts
  src/commands/__tests__/state-commands.test.ts
  src/views/__tests__/squiggy-plot-options-view.test.ts
Due: typescript, TypeScript Extension

Path conditions:
  python: any of: squiggy/, but not: tests/**/*, build/**/*, docs/**/*, **/conftest.py, setup.py, legacy/**/*
  typescript: any of: src/, but not: tests/**/*, build/**/*, docs/**/*, **/conftest.py, setup.py, legacy/**/*
  Python Backend: any of: squiggy/io.py, squiggy/plotter.py, squiggy/alignment.py, squiggy/normalization.py, squiggy/modifications.py, squiggy/utils.py, but not: tests/**/*, build/**/*, docs/**/*, **/conftest.py, setup.py, legacy/**/*
  TypeScript Extension: any of: src/backend/, src/views/, src/webview/, src/extension.ts, but not: tests/**/*, build/**/*, docs/**/*, **/conftest.py, setup.py, legacy/**/*
