Repository rnabioco/squiggy-positron: changes, and which Codecov flags are due for each by the changed paths.
All: python, typescript, Python Backend, TypeScript Extension

fix: use uv tool run twine instead of uv run twine
  .github/workflows/publish-python.yml
Due: none

Release v0.1.15-alpha
  CHANGELOG.md
  package-lock.json
  package.json
  pyproject.toml
  squiggy/__init__.py
Due: python

Add proactive reference compatibility dialog for aggregate plots
  src/commands/plot-commands.ts
Due: typescript

Fix: Add on-demand reference fetching for backward compatibility
  src/commands/plot-commands.ts
Due: typescript

Debug: Add comprehensive logging to reference compatibility check
  src/commands/plot-commands.ts
Due: typescript

Fix: Remove double JSON encoding in getSampleInfo
  src/backend/squiggy-runtime-api.ts
Due: typescript, TypeScript Extension

Debug: Add logging to track visualization selection changes
  package-lock.json
  src/state/extension-state.ts
Due: typescript

Fix: Aggregate references from all loaded samples (Issue #121)
  src/extension.ts
Due: typescript, TypeScript Extension

Debug: Add detailed logging for sample selection toggle
  src/views/squiggy-samples-panel.ts
Due: typescript, TypeScript Extension

Fix: Sync auto-selected samples with extension state (Issue #121)
  src/views/components/squiggy-samples-core.tsx
Due: typescript, TypeScript Extension

Fix: Prevent NameError from lingering _squiggy_installed variable
  src/backend/package-manager.ts
  src/backend/squiggy-positron-runtime.ts
Due: typescript, TypeScript Extension

Simplify reference mismatch dialog - remove auto-filtering
  src/commands/plot-commands.ts
Due: typescript

Improve reference mismatch dialog wording (Issue #121)
  src/commands/plot-commands.ts
Due: typescript

fix: format squiggy/plotting.py with ruff
  squiggy/plotting.py
Due: python

fix: format TypeScript files with prettier
  src/commands/file-commands.ts
  src/commands/plot-commands.ts
  src/extension.ts
  src/utils/error-handler.ts
Due: typescript, TypeScript Extension

Fix: Handle mixed-reference samples in Composite Read Plots (Issue #121) (#133)
  package-lock.json
  squiggy/plotting.py
  src/backend/package-manager.ts
  src/backend/positron-runtime-client.ts
  src/backend/squiggy-positron-runtime.ts
  src/backend/squiggy-runtime-api.ts
  src/commands/file-commands.ts
  src/commands/plot-commands.ts
  src/extension.ts
  src/state/extension-state.ts
  src/types/messages.ts
  src/utils/error-handler.ts
  src/views/components/squiggy-samples-core.tsx
  src/views/squiggy-samples-panel.ts
Due: python, typescript, TypeScript Extension

docs: add reference navigation design recommendations
  docs/REFERENCE_NAVIGATION_DESIGN.md
  docs/archive/PLOT_MODES_AUDIT.md
Due: none

Improve reference sequence navigation and exploration (#134)
  docs/REFERENCE_NAVIGATION_DESIGN.md
  docs/archive/PLOT_MODES_AUDIT.md
Due: none

docs: update README Quickstart section to match current UI
  README.md
Due: none

Update Quickstart in README (#136)
  README.md
Due: none

Delete samples from samples panel (#128)
  src/views/components/squiggy-samples-core.tsx
Due: typescript, TypeScript Extension

Fix: Standardize FASTA reference display across plot modes (Issue #120)
  squiggy/plot_strategies/eventalign.py
  squiggy/plotting.py
  squiggy/rendering/__init__.py
  squiggy/rendering/reference_track_renderer.py
  squiggy/utils.py
Due: python, Python Backend

Redesign Python package installation interface
  package-lock.json
  src/backend/package-manager.ts
  src/extension.ts
  src/types/messages.ts
  src/views/squiggy-setup-panel.ts
Due: typescript, TypeScript Extension

Fix prettier formatting in package-manager.ts
  src/backend/package-manager.ts
Due: typescript, TypeScript Extension

Redesign Python package installation interface (#138)
  package-lock.json
  src/backend/package-manager.ts
  src/extension.ts
  src/types/messages.ts
  src/views/squiggy-setup-panel.ts
Due: typescript, TypeScript Extension

Add PNG/SVG export functionality for Bokeh plots (Issue #132)
  package.json
  squiggy/__init__.py
  squiggy/export.py
  squiggy/plotting.py
  src/commands/plot-commands.ts
  src/webview/squiggy-plot-panel.ts
Due: python, typescript, TypeScript Extension

Update documentation to reflect modern startup procedure
  docs/index.md
  docs/multi_sample_comparison.md
  docs/user_guide.md
Due: none

Reorganize documentation navigation structure
  mkdocs.yml
Due: none

Update documentation to reflect modern startup procedure (#139)
  docs/index.md
  docs/multi_sample_comparison.md
  docs/user_guide.md
  mkdocs.yml
Due: none

Fix linting errors in PR #140
  squiggy/__init__.py
  squiggy/export.py
  src/commands/plot-commands.ts
  src/webview/squiggy-plot-panel.ts
Due: python, typescript, TypeScript Extension

Path conditions:
  python: any of: squiggy/, but not: tests/**/*, build/**/*, docs/**/*, **/conftest.py, setup.py, legacy/**/*
  typescript: any of: src/, but not: tests/**/*, build/**/*, docs/**/*, **/conftest.py, setup.py, legacy/**/*
  Python Backend: any of: squiggy/io.py, squiggy/plotter.py, squiggy/alignment.py, squiggy/normalization.py, squiggy/modifications.py, squiggy/utils.py, but not: tests/**/*, build/**/*, docs/**/*, **/conftest.py, setup.py, legacy/**/*
  TypeScript Extension: any of: src/backend/, src/views/, src/webview/, src/extension.ts, but not: tests/**/*, build/**/*, docs/**/*, **/conftest.py, setup.py, legacy/**/*
