Repository rnabioco/squiggy-positron: changes, and which Codecov flags are due for each by the changed paths.
All: python, typescript, Python Backend, TypeScript Extension

codecov.yml:

# Codecov Configuration for Squiggy
# https://docs.codecov.com/docs/codecovyml-reference

# Notification settings (disable emails)
notify:
  email: off

# Coverage calculation settings
coverage:
  precision: 2  # Decimal places for coverage percentage
  round: down   # Round coverage percentages down
  range: 70..100  # Green at 100%, red at 70%

  # Status checks that appear on PRs
  status:
    # Overall project coverage
    project:
      default:
        target: auto  # Maintain current coverage level
        threshold: 0%  # Don't fail if coverage stays same
        informational: true  # Don't block PRs

    # Coverage on changed code (patch)
    patch:
      default:
        target: 70%  # Encourage good coverage on new code
        threshold: 0%  # Don't fail, just inform
        informational: true  # Don't block PRs

# PR comment configuration
comment: off  # Disable PR comments

# Paths to ignore in coverage calculation
ignore:
  - "tests/**/*"  # Don't measure coverage of test files
  - "build/**/*"  # Don't measure build scripts
  - "docs/**/*"   # Don't measure documentation
  - "**/conftest.py"  # Don't measure pytest fixtures
  - "setup.py"    # Don't measure setup script
  - "legacy/**/*"  # Don't measure archived Qt app code

# Flag-based coverage (track Python and TypeScript separately)
flags:
  python:
    paths:
      - squiggy/
    carryforward: true  # Use previous coverage if upload fails

  typescript:
    paths:
      - src/
    carryforward: true

# Component-based coverage (optional - can expand later)
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: backend
      name: "Python Backend"
      paths:
        - squiggy/io.py
        - squiggy/plotter.py
        - squiggy/alignment.py
        - squiggy/normalization.py
        - squiggy/modifications.py
        - squiggy/utils.py

    - component_id: frontend
      name: "TypeScript Extension"
      paths:
        - src/backend/
        - src/views/
        - src/webview/
        - src/extension.ts
      flag: typescript

chore: add project settings (permissions, disable commit attribution)
  .claude/settings.json
Due: none

fix: resolve demo data paths from extension URI, fix reads explorer empty state
  src/state/extension-state.ts
  src/state/path-resolver.ts
  src/views/squiggy-reads-panel.ts
Due: typescript, TypeScript Extension

feat: add PT tag primer trimming and fix mv tag detection in session restore
  squiggy/alignment.py
  squiggy/io/core.py
  squiggy/plot_strategies/eventalign.py
  squiggy/plot_strategies/single_read.py
  squiggy/plotting.py
  squiggy/rendering/base_annotation_renderer.py
  src/backend/squiggy-runtime-api.ts
  src/commands/file-commands.ts
  src/commands/plot-commands.ts
  src/extension.ts
  src/services/__tests__/file-loading-service.test.ts
  src/services/file-loading-service.ts
  src/state/extension-state.ts
  src/types/file-loading-types.ts
  src/types/loaded-item.ts
  src/types/messages.ts
  src/views/__tests__/squiggy-plot-options-panel.test.ts
  src/views/components/squiggy-plot-options-core.tsx
  src/views/components/squiggy-samples-core.tsx
  src/views/squiggy-plot-options-panel.ts
  tests/test_primer_trimming.py
Due: python, typescript, Python Backend, TypeScript Extension

chore: update dependencies and reformat with prettier
  package-lock.json
  package.json
  pixi.lock
Due: none

fix: resolve samples panel button cutoff with box-sizing and toolbar refactor
  src/utils/webview-utils.ts
  src/views/components/squiggy-samples-core.css
  src/views/components/squiggy-samples-core.tsx
Due: typescript, TypeScript Extension

fix: add reference information to plot titles when alignment data is available
  squiggy/plot_strategies/base.py
  squiggy/plot_strategies/delta.py
  squiggy/plot_strategies/eventalign.py
  squiggy/plot_strategies/overlay.py
  squiggy/plot_strategies/reference_overlay.py
  squiggy/plot_strategies/signal_overlay_comparison.py
  squiggy/plot_strategies/single_read.py
  squiggy/plot_strategies/stacked.py
  squiggy/plotting.py
Due: python

fix: re-extract demo data requiring both 5' and 3' PT tags
  scripts/create_test_data.py
  squiggy/data/README.md
  squiggy/data/ecoli_trna_tb_mappings.bam
  squiggy/data/ecoli_trna_tb_mappings.bam.bai
  squiggy/data/ecoli_trna_tb_reads.pod5
  squiggy/data/ecoli_trna_wt_mappings.bam
  squiggy/data/ecoli_trna_wt_mappings.bam.bai
  squiggy/data/ecoli_trna_wt_reads.pod5
Due: python

feat: add primer trimming to aggregate plots with PT tag filtering
  squiggy/alignment.py
  squiggy/cache.py
  squiggy/io/core.py
  squiggy/io/samples.py
  squiggy/plot_strategies/aggregate.py
  squiggy/plotting.py
  squiggy/utils/bam.py
  src/backend/squiggy-runtime-api.ts
  src/commands/file-commands.ts
  src/commands/plot-commands.ts
  src/state/extension-state.ts
  src/views/components/squiggy-plot-options-core.tsx
  src/views/squiggy-plot-options-panel.ts
Due: python, typescript, Python Backend, TypeScript Extension

feat: derive aggregate primer trim bounds from FASTA reference sequences
  squiggy/alignment.py
  squiggy/plot_strategies/aggregate.py
  squiggy/plot_strategies/aggregate_comparison.py
  squiggy/plotting.py
  tests/test_primer_trimming.py
Due: python, Python Backend

feat: add configurable primer sequences to plot options panel
  squiggy/plotting.py
  src/backend/squiggy-runtime-api.ts
  src/extension.ts
  src/types/messages.ts
  src/views/components/squiggy-plot-options-core.css
  src/views/components/squiggy-plot-options-core.tsx
  src/views/squiggy-plot-options-panel.ts
Due: python, typescript, TypeScript Extension

feat: primer trimming for aggregate plots (#178)
  squiggy/alignment.py
  squiggy/cache.py
  squiggy/io/core.py
  squiggy/io/samples.py
  squiggy/plot_strategies/aggregate.py
  squiggy/plot_strategies/aggregate_comparison.py
  squiggy/plotting.py
  squiggy/utils/bam.py
  src/backend/squiggy-runtime-api.ts
  src/commands/file-commands.ts
  src/commands/plot-commands.ts
  src/extension.ts
  src/state/extension-state.ts
  src/types/messages.ts
  src/views/components/squiggy-plot-options-core.css
  src/views/components/squiggy-plot-options-core.tsx
  src/views/squiggy-plot-options-panel.ts
  tests/test_primer_trimming.py
Due: python, typescript, Python Backend, TypeScript Extension

Release v0.1.32-alpha
  CHANGELOG.md
  package-lock.json
  package.json
  pyproject.toml
  squiggy/__init__.py
Due: python

refactor: code audit cleanup across Python, TypeScript, and docs
  docs/api.md
  docs/index.md
  docs/multi_sample_comparison.md
  docs/quick_reference.md
  docs/user_guide.md
  squiggy/alignment.py
  squiggy/constants.py
  squiggy/modifications.py
  squiggy/motif.py
  squiggy/plot_strategies/eventalign.py
  squiggy/plot_strategies/reference_overlay.py
  squiggy/plot_strategies/signal_overlay_comparison.py
  squiggy/plotting.py
  squiggy/utils/bam.py
  squiggy/utils/paths.py
  squiggy/utils/plotting.py
  squiggy/utils/statistics.py
  src/backend/squiggy-kernel-manager.ts
  src/extension.ts
  src/views/components/squiggy-files-core.tsx
  src/views/components/squiggy-modifications-core.tsx
  src/views/components/squiggy-plot-options-core.tsx
  src/views/components/squiggy-reads-core.tsx
  src/views/components/squiggy-samples-core.tsx
  src/views/squiggy-session-panel.ts
Due: python, typescript, Python Backend, TypeScript Extension

fix: separate figure creation from HTML serialization in plot strategies
  squiggy/api.py
  squiggy/plot_strategies/aggregate.py
  squiggy/plot_strategies/aggregate_comparison.py
  squiggy/plot_strategies/base.py
  squiggy/plot_strategies/delta.py
  squiggy/plot_strategies/eventalign.py
  squiggy/plot_strategies/overlay.py
  squiggy/plot_strategies/reference_overlay.py
  squiggy/plot_strategies/signal_overlay_comparison.py
  squiggy/plot_strategies/single_read.py
  squiggy/plot_strategies/stacked.py
  squiggy/plotting.py
  tests/test_plot_strategies.py
Due: python

chore: ignore plans
  .gitignore
Due: none

feat: sync Positron API types, adopt evaluateCode, upgrade React 19
  jest.config.js
  package-lock.json
  package.json
  pixi.lock
  src/__mocks__/positron.ts
  src/__mocks__/vscode.ts
  src/backend/__tests__/positron-runtime-client.test.ts
  src/backend/positron-runtime-client.ts
  src/backend/squiggy-kernel-manager.ts
  src/types/squiggy-positron.d.ts
  src/views/components/squiggy-reads-core.tsx
  tsconfig.jest.json
  tsconfig.json
Due: typescript, TypeScript Extension

style: prettier formatting
  src/backend/__tests__/positron-runtime-client.test.ts
  src/backend/positron-runtime-client.ts
  src/backend/squiggy-kernel-manager.ts
  src/types/squiggy-positron.d.ts
Due: typescript, TypeScript Extension

chore: update npm and pixi dependencies
  package-lock.json
  pixi.lock
Due: none

refactor: consolidate API around OO classes, remove legacy global state
  .vscode/settings.json
  examples/notebook_api_demo.ipynb
  pixi.lock
  pixi.toml
  squiggy/__init__.py
  squiggy/io/__init__.py
  src/backend/squiggy-kernel-manager.ts
  src/backend/squiggy-runtime-api.ts
  src/commands/file-commands.ts
  src/commands/state-commands.ts
  src/services/file-loading-service.ts
  src/state/extension-state.ts
  tests/conftest.py
  tests/test_api.py
  tests/test_comparison_utils.py
  tests/test_delta_plotting.py
  tests/test_io.py
  tests/test_multi_sample.py
  tests/test_oo_api.py
Due: python, typescript, TypeScript Extension

feat: add per-sample base-call pileup to multi-sample composite plot
  squiggy/plot_strategies/aggregate_comparison.py
  squiggy/plotting.py
  src/backend/__tests__/squiggy-runtime-api.test.ts
  src/backend/squiggy-runtime-api.ts
  src/commands/plot-commands.ts
  tests/test_aggregate_comparison_strategy.py
Due: python, typescript, TypeScript Extension

feat: show consensus base letters atop reference overlay plot
  squiggy/plot_strategies/reference_overlay.py
  tests/test_reference_overlay_strategy.py
Due: python

fix: unbreak webpack build (tsconfig scope + React 19 useRef)
  src/views/components/squiggy-reads-core.tsx
  tsconfig.json
Due: typescript, TypeScript Extension

feat: per-sample base-call pileup in multi-sample composite plot (#180)
  squiggy/plot_strategies/aggregate_comparison.py
  squiggy/plotting.py
  src/backend/__tests__/squiggy-runtime-api.test.ts
  src/backend/squiggy-runtime-api.ts
  src/commands/plot-commands.ts
  tests/test_aggregate_comparison_strategy.py
Due: python, typescript, TypeScript Extension

feat: sync Positron API, evaluateCode, React 19, fix Jest OOM & demo loading (#175)
  jest.config.js
  package-lock.json
  package.json
  pixi.lock
  src/__mocks__/positron.ts
  src/__mocks__/vscode.ts
  src/backend/__tests__/positron-runtime-client.test.ts
  src/backend/positron-runtime-client.ts
  src/backend/squiggy-kernel-manager.ts
  src/types/squiggy-positron.d.ts
  tsconfig.jest.json
Due: typescript, TypeScript Extension

refactor: code audit cleanup across Python, TypeScript, and docs (#179)
  docs/api.md
  docs/index.md
  docs/multi_sample_comparison.md
  docs/quick_reference.md
  docs/user_guide.md
  squiggy/alignment.py
  squiggy/constants.py
  squiggy/modifications.py
  squiggy/motif.py
  squiggy/plot_strategies/eventalign.py
  squiggy/plot_strategies/reference_overlay.py
  squiggy/plot_strategies/signal_overlay_comparison.py
  squiggy/plotting.py
  squiggy/utils/bam.py
  squiggy/utils/paths.py
  squiggy/utils/plotting.py
  squiggy/utils/statistics.py
  src/backend/squiggy-kernel-manager.ts
  src/extension.ts
  src/views/components/squiggy-files-core.tsx
  src/views/components/squiggy-modifications-core.tsx
  src/views/components/squiggy-plot-options-core.tsx
  src/views/components/squiggy-reads-core.tsx
  src/views/components/squiggy-samples-core.tsx
  src/views/squiggy-session-panel.ts
Due: python, typescript, Python Backend, TypeScript Extension

fix: add reference info to plot titles (#176)
  squiggy/plot_strategies/base.py
  squiggy/plot_strategies/delta.py
  squiggy/plot_strategies/eventalign.py
  squiggy/plot_strategies/overlay.py
  squiggy/plot_strategies/reference_overlay.py
  squiggy/plot_strategies/signal_overlay_comparison.py
  squiggy/plot_strategies/single_read.py
  squiggy/plot_strategies/stacked.py
  squiggy/plotting.py
Due: python

chore: update lock files
  package-lock.json
  pixi.lock
Due: none

chore: update git ignores
  .gitignore
Due: none

style: ruff format plot_strategies
  squiggy/plot_strategies/eventalign.py
  squiggy/plot_strategies/overlay.py
  squiggy/plot_strategies/reference_overlay.py
  squiggy/plot_strategies/single_read.py
  squiggy/plot_strategies/stacked.py
Due: python

Release v0.1.33-alpha
  CHANGELOG.md
  package-lock.json
  package.json
  pyproject.toml
  squiggy/__init__.py
Due: python

chore: positron API audit — remove dead plot webview, refresh type stub
  CLAUDE.md
  docs/developer.md
  src/types/squiggy-positron.d.ts
  src/webview/__tests__/squiggy-plot-panel.test.ts
  src/webview/squiggy-plot-panel.ts
Due: typescript, TypeScript Extension

Positron API audit: remove dead plot webview, refresh type stub (#182)
  CLAUDE.md
  docs/developer.md
  src/types/squiggy-positron.d.ts
  src/webview/__tests__/squiggy-plot-panel.test.ts
  src/webview/squiggy-plot-panel.ts
Due: typescript, TypeScript Extension

fix: auto-expand references on read-ID search (#78)
  src/views/components/__tests__/reads-filter.test.ts
  src/views/components/reads-filter.ts
  src/views/components/squiggy-reads-core.tsx
Due: typescript, TypeScript Extension

fix: auto-expand references on read-ID search (#78) (#183)
  src/views/components/__tests__/reads-filter.test.ts
  src/views/components/reads-filter.ts
  src/views/components/squiggy-reads-core.tsx
Due: typescript, TypeScript Extension

fix: audit quick wins — perf, error visibility, path safety, dead code
  CLAUDE.md
  codecov.yml
  src/backend/squiggy-runtime-api.ts
  src/state/path-resolver.ts
  src/types/messages.ts
  src/types/squiggy-files-types.ts
  src/views/__tests__/squiggy-file-panel.test.ts
  src/views/base-webview-provider.ts
  src/views/components/extension-error-banner.tsx
  src/views/components/squiggy-file-row.css
  src/views/components/squiggy-file-row.tsx
  src/views/components/squiggy-files-core.css
  src/views/components/squiggy-files-core.tsx
  src/views/components/squiggy-files-table.css
  src/views/components/squiggy-files-table.tsx
  src/views/components/squiggy-files-toolbar.css
  src/views/components/squiggy-files-toolbar.tsx
  src/views/components/squiggy-modifications-instance.tsx
  src/views/components/squiggy-plot-options-instance.tsx
  src/views/components/webview-entry.tsx
  src/views/squiggy-file-panel.ts
Due: typescript, TypeScript Extension

fix: align aggregate signal track to reference via query_to_ref (#184)
  squiggy/utils/statistics.py
  tests/test_utils.py
Due: python

fix: surface Python errors from all plot methods (#185)
  src/backend/__tests__/squiggy-runtime-api.test.ts
  src/backend/squiggy-runtime-api.ts
Due: typescript, TypeScript Extension

fix: extension audit quick wins (perf, error visibility, path safety, dead code) (#192)
  CLAUDE.md
  codecov.yml
  src/backend/squiggy-runtime-api.ts
  src/state/path-resolver.ts
  src/types/messages.ts
  src/types/squiggy-files-types.ts
  src/views/__tests__/squiggy-file-panel.test.ts
  src/views/base-webview-provider.ts
  src/views/components/extension-error-banner.tsx
  src/views/components/squiggy-file-row.css
  src/views/components/squiggy-file-row.tsx
  src/views/components/squiggy-files-core.css
  src/views/components/squiggy-files-core.tsx
  src/views/components/squiggy-files-table.css
  src/views/components/squiggy-files-table.tsx
  src/views/components/squiggy-files-toolbar.css
  src/views/components/squiggy-files-toolbar.tsx
  src/views/components/squiggy-modifications-instance.tsx
  src/views/components/squiggy-plot-options-instance.tsx
  src/views/components/webview-entry.tsx
  src/views/squiggy-file-panel.ts
Due: typescript, TypeScript Extension

fix: high-priority audit issues — aggregate track alignment (#184) + plot error visibility (#185) (#193)
  squiggy/utils/statistics.py
  src/backend/__tests__/squiggy-runtime-api.test.ts
  src/backend/squiggy-runtime-api.ts
  tests/test_utils.py
Due: python, typescript, TypeScript Extension

fix: kernel manager concurrency & lifecycle gaps (#186)
  src/__mocks__/positron.ts
  src/__mocks__/vscode.ts
  src/backend/__tests__/squiggy-kernel-manager.test.ts
  src/backend/squiggy-kernel-manager.ts
Due: typescript, TypeScript Extension
