Repository rnabioco/squiggy-positron: changes, and which Codecov flags are due for each by the changed paths.
All: python, typescript, Python Backend, TypeScript Extension

fix: Complete Read Explorer empty state and auto-load issues (#115) (#122)
  package-lock.json
  src/state/extension-state.ts
  src/state/session-state-manager.ts
  src/types/squiggy-session-types.ts
  src/views/components/squiggy-reads-core.tsx
  src/views/squiggy-reads-view-pane.ts
Due: typescript, TypeScript Extension

fix: fix lints
  squiggy/plot_strategies/aggregate.py
Due: python

Release v0.1.14-alpha
  CHANGELOG.md
  package-lock.json
  package.json
  pyproject.toml
  squiggy/__init__.py
Due: python

chore: Add coverage.json to .gitignore
  .gitignore
  coverage.json
Due: none

Decide whether to commit coverage.json file (#123)
  .gitignore
  coverage.json
Due: none

chore: ignore mypy cache
  .vscodeignore
Due: none

feat: add VSIX file size check to /release command
  .claude/commands/release.md
Due: none

Add UX testing issue templates
  .github/ISSUE_TEMPLATE/README.md
  .github/ISSUE_TEMPLATE/ux_bug.md
  .github/ISSUE_TEMPLATE/ux_walkthrough.md
Due: none

Simplify UX testing to single walkthrough template
  .github/ISSUE_TEMPLATE/README.md
  .github/ISSUE_TEMPLATE/ux_bug.md
  .github/ISSUE_TEMPLATE/ux_walkthrough.md
Due: none

feat: add VSIX file size check to /release command (#125)
  .claude/commands/release.md
Due: none

feat: delay extension activation until Python package is installed
  package.json
  src/extension.ts
  src/types/messages.ts
  src/views/squiggy-setup-panel.ts
Due: typescript, TypeScript Extension

Remove Python console logging to avoid console pollution
  docs/LOGGING.md
  squiggy/alignment.py
  squiggy/api.py
  squiggy/cache.py
  squiggy/io.py
  squiggy/logging_config.py
  squiggy/modifications.py
  squiggy/motif.py
  squiggy/normalization.py
  squiggy/plot_factory.py
  squiggy/plot_strategies/signal_overlay_comparison.py
  squiggy/plotting.py
  squiggy/utils.py
Due: python, Python Backend

feat: add automated UX walkthrough system with logging
  UX_WALKTHROUGH_SUMMARY.md
  docs/UX_WALKTHROUGH.md
  package.json
  src/commands/walkthrough-commands.ts
  src/extension.ts
  src/utils/__tests__/walkthrough-logger.test.ts
  src/utils/walkthrough-logger.ts
  src/utils/walkthrough-runner.ts
  src/utils/walkthrough-scenarios.ts
Due: typescript, TypeScript Extension

fix: wait for Python kernel to be ready before checking installation
  src/extension.ts
Due: typescript, TypeScript Extension

feat: auto-detect installation status when switching Python interpreters
  src/extension.ts
  src/listeners/kernel-listeners.ts
Due: typescript, TypeScript Extension

fix: initialize panel references in state before session panel access
  src/extension.ts
Due: typescript, TypeScript Extension

fix: remove double JSON encoding in detectEnvironmentType
  src/backend/package-manager.ts
Due: typescript, TypeScript Extension

style: improve code block font in setup panel
  src/views/squiggy-setup-panel.ts
Due: typescript, TypeScript Extension

fix: improve code block font in setup panel
  src/views/squiggy-setup-panel.ts
Due: typescript, TypeScript Extension

feat: improve installation error handling and recommend uv workflow
  src/backend/package-manager.ts
  src/views/squiggy-setup-panel.ts
Due: typescript, TypeScript Extension

fix: improve font rendering and emphasize uv in manual guide
  src/backend/package-manager.ts
  src/views/squiggy-setup-panel.ts
Due: typescript, TypeScript Extension

fix: composite plots now include all selected samples instead of only first 2
  src/views/components/squiggy-plot-options-core.tsx
  src/views/components/squiggy-samples-core.tsx
Due: typescript, TypeScript Extension

feat: move buttons to top of setup panel and emphasize detailed instructions
  src/views/squiggy-setup-panel.ts
Due: typescript, TypeScript Extension

Convert all TypeScript console logging to centralized logger
  src/backend/positron-runtime-client.ts
  src/backend/squiggy-positron-runtime.ts
  src/backend/squiggy-python-backend.ts
  src/backend/squiggy-runtime-api.ts
  src/commands/file-commands.ts
  src/extension.ts
  src/listeners/kernel-listeners.ts
  src/services/file-loading-service.ts
  src/state/extension-state.ts
  src/state/path-resolver.ts
  src/views/base-webview-provider.ts
  src/views/squiggy-file-panel.ts
  src/views/squiggy-modifications-panel.ts
  src/views/squiggy-plot-options-view.ts
  src/views/squiggy-reads-view-pane.ts
  src/views/squiggy-samples-panel.ts
Due: typescript, TypeScript Extension

refactor: remove redundant instructions from setup panel
  src/views/squiggy-setup-panel.ts
Due: typescript, TypeScript Extension

refactor: remove 'Install Automatically' button from setup panel
  src/views/squiggy-setup-panel.ts
Due: typescript, TypeScript Extension

fix: resolve plotOptions validation error when switching from setup mode
  src/extension.ts
  src/state/extension-state.ts
Due: typescript, TypeScript Extension

feat: improve plotting UX and fix initial sample selection
  src/commands/file-commands.ts
  src/views/components/squiggy-plot-options-core.tsx
  src/views/components/squiggy-samples-core.tsx
Due: typescript, TypeScript Extension

fix: auto-clear corrupted saved sessions and add debug logging
  src/state/extension-state.ts
  src/state/session-state-manager.ts
Due: typescript

Fix session validation error to use logger instead of popup
  src/state/session-state-manager.ts
Due: typescript

chore: apply prettier formatting
  package-lock.json
  src/views/components/squiggy-plot-options-core.tsx
  src/views/components/squiggy-samples-core.tsx
Due: typescript, TypeScript Extension

Path conditions:
  python: any of: squiggy/, but not: tests/**/*, build/**/*, docs/**/*, **/conftest.py, setup.py, legacy/**/*
  typescript: any of: src/, but not: tests/**/*, build/**/*, docs/**/*, **/conftest.py, setup.py, legacy/**/*
  Python Backend: any of: squiggy/io.py, squiggy/plotter.py, squiggy/alignment.py, squiggy/normalization.py, squiggy/modifications.py, squiggy/utils.py, but not: tests/**/*, build/**/*, docs/**/*, **/conftest.py, setup.py, legacy/**/*
  TypeScript Extension: any of: src/backend/, src/views/, src/webview/, src/extension.ts, but not: tests/**/*, build/**/*, docs/**/*, **/conftest.py, setup.py, legacy/**/*
