Repository rnabioco/squiggy-positron: changes, and which Codecov flags are due for each by the changed paths.
All: Core Logic, Plotting, GUI

codecov.yml:

# Codecov Configuration for Squiggy
# https://docs.codecov.com/docs/codecovyml-reference

# Coverage calculation settings
coverage:
  precision: 2  # Decimal places for coverage percentage
  round: down   # Round coverage percentages down
  range: 70..100  # Green at 100%, red at 70%
  notify:
    email: false # no email notifications

  # Status checks that appear on PRs
  status:
    # Overall project coverage
    project:
      default:
        target: auto  # Maintain current coverage level
        threshold: 0%  # Don't fail if coverage stays same
        informational: true  # Don't block PRs

    # Coverage on changed code (patch)
    patch:
      default:
        target: 70%  # Encourage good coverage on new code
        threshold: 0%  # Don't fail, just inform
        informational: true  # Don't block PRs

# PR comment configuration
comment:
  layout: "header, diff, components, tree"
  behavior: default  # Post new comment on each push
  require_changes: false  # Always comment
  require_base: false  # Comment even if base has no coverage
  require_head: true  # Only comment if head has coverage

# Paths to ignore in coverage calculation
ignore:
  - "tests/**/*"  # Don't measure coverage of test files
  - "build/**/*"  # Don't measure build scripts
  - "docs/**/*"   # Don't measure documentation
  - "**/conftest.py"  # Don't measure pytest fixtures
  - "setup.py"    # Don't measure setup script

# Component-based coverage (optional - can expand later)
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: "Core Logic"
      paths:
        - src/squiggy/utils.py
        - src/squiggy/alignment.py
        - src/squiggy/normalization.py
    - component_id: plotting
      name: "Plotting"
      paths:
        - src/squiggy/plotter_bokeh.py
    - component_id: gui
      name: "GUI"
      paths:
        - src/squiggy/viewer.py
        - src/squiggy/dialogs.py

fix(ui): fix checkbox signals to use toggled instead of stateChanged
  src/squiggy/ui_components.py
  tests/test_plotting_eventalign.py
Due: none

feat: add auto-downsampling for multi-read visualization modes
  src/squiggy/constants.py
  src/squiggy/ui_components.py
  src/squiggy/viewer.py
  tests/test_constants.py
  tests/test_viewer.py
Due: GUI

feat: add coordinate space toggle for OVERLAY mode
  TASK.md
  src/squiggy/constants.py
  src/squiggy/plotting/__init__.py
  src/squiggy/plotting/overlay.py
  src/squiggy/ui_components.py
  src/squiggy/viewer.py
  tests/test_plotting_overlay.py
Due: GUI

feat: add DUAL_VIEW mode with synchronized signal-sequence panels
  src/squiggy/alignment.py
  src/squiggy/constants.py
  src/squiggy/plotting/dual_view.py
  src/squiggy/ui_components.py
  src/squiggy/viewer.py
  tests/test_alignment.py
  tests/test_plotting_eventalign.py
Due: Core Logic, GUI

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

fix: correct dual-view plotting and theme support
  src/squiggy/plotting/dual_view.py
  src/squiggy/viewer.py
Due: GUI

fix: remove plot range restoration for dual-view mode
  src/squiggy/viewer.py
Due: GUI

fix(aggregate): fix theme toggle and hide unnecessary legends
  src/squiggy/plotting/aggregate.py
  src/squiggy/viewer.py
Due: GUI

Fix aggregate plot theme toggle and remove legends (#31)
  src/squiggy/plotting/aggregate.py
  src/squiggy/viewer.py
Due: GUI

fix: move codecov email notification disable to root level
  codecov.yml
Due: none

docs: update documentation to match current codebase
  README.md
  docs/development.md
  docs/index.md
  docs/installation.md
  docs/usage.md
Due: none

feat: add CLI support for aggregate mode and region-based read selection
  README.md
  docs/usage.md
  src/squiggy/main.py
Due: none

refactor: remove redundant --export-format CLI parameter
  src/squiggy/cli.py
  src/squiggy/main.py
Due: none

feat: add window size control via CLI (expert options)
  src/squiggy/main.py
  src/squiggy/viewer.py
Due: GUI

fix(viewer): prevent race condition in multi-read selection
  src/squiggy/viewer.py
Due: GUI

Fix race condition in multi-read selection (#32)
  src/squiggy/viewer.py
Due: GUI

chore: apply ruff formatting to main.py
  src/squiggy/main.py
Due: none

chore: remove TASK.md worktree notes file
  TASK.md
Due: none

chore: ignore TASK.md files
  .gitignore
Due: none

chore: add plausbile to mkdocs site
  docs/overrides/main.html
  mkdocs.yml
Due: none

chore: use semantic tags in templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

ci: update build spec to remove win-specific steps
  build/squiggy.spec
Due: none

docs: simplify readme and create quickstart on site
  README.md
  docs/quickstart.md
  mkdocs.yml
Due: none

Update command to run the application
  README.md
Due: none

feat(modifications): enhance modification visualization with filtering and improved UI
  build/squiggy.spec
  src/squiggy/alignment.py
  src/squiggy/constants.py
  src/squiggy/main.py
  src/squiggy/modifications.py
  src/squiggy/plotting/__init__.py
  src/squiggy/plotting/aggregate.py
  src/squiggy/plotting/base.py
  src/squiggy/plotting/base_annotations.py
  src/squiggy/plotting/eventalign.py
  src/squiggy/plotting/overlay.py
  src/squiggy/plotting/single.py
  src/squiggy/ui_components.py
  src/squiggy/viewer.py
  tests/test_integration_modbam.py
  tests/test_modification_filtering.py
  tests/test_modifications.py
  tests/test_plotting_base.py
  tests/test_signal_accuracy.py
Due: Core Logic, GUI
