Repository rnabioco/squiggy-positron: changes, and which Codecov flags are due for each by the changed paths.
All: python, typescript, Python Backend, TypeScript Extension

codecov.yml:

# Codecov Configuration for Squiggy
# https://docs.codecov.com/docs/codecovyml-reference

# Notification settings (disable emails)
notify:
  email: off

# Coverage calculation settings
coverage:
  precision: 2  # Decimal places for coverage percentage
  round: down   # Round coverage percentages down
  range: 70..100  # Green at 100%, red at 70%

  # Status checks that appear on PRs
  status:
    # Overall project coverage
    project:
      default:
        target: auto  # Maintain current coverage level
        threshold: 0%  # Don't fail if coverage stays same
        informational: true  # Don't block PRs

    # Coverage on changed code (patch)
    patch:
      default:
        target: 70%  # Encourage good coverage on new code
        threshold: 0%  # Don't fail, just inform
        informational: true  # Don't block PRs

# PR comment configuration
comment: off  # Disable PR comments

# Paths to ignore in coverage calculation
ignore:
  - "tests/**/*"  # Don't measure coverage of test files
  - "build/**/*"  # Don't measure build scripts
  - "docs/**/*"   # Don't measure documentation
  - "**/conftest.py"  # Don't measure pytest fixtures
  - "setup.py"    # Don't measure setup script
  - "legacy/**/*"  # Don't measure archived Qt app code

# Flag-based coverage (track Python and TypeScript separately)
flags:
  python:
    paths:
      - squiggy/
    carryforward: true  # Use previous coverage if upload fails

  typescript:
    paths:
      - src/
    carryforward: true

# Component-based coverage (optional - can expand later)
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: backend
      name: "Python Backend"
      paths:
        - squiggy/io.py
        - squiggy/plotter.py
        - squiggy/alignment.py
        - squiggy/normalization.py
        - squiggy/modifications.py
        - squiggy/utils.py

    - component_id: frontend
      name: "TypeScript Extension"
      paths:
        - src/backend/
        - src/views/
        - src/webview/
        - src/extension.ts
      flag: typescript

Fix: Composite plots now include all selected samples (Issue #124) (#127)
  package-lock.json
  src/commands/file-commands.ts
  src/views/components/squiggy-plot-options-core.tsx
  src/views/components/squiggy-samples-core.tsx
Due: typescript, TypeScript Extension

feat: Add trash can icon for removing samples from Samples pane
  package-lock.json
  src/views/components/squiggy-samples-core.tsx
Due: typescript, TypeScript Extension

Fix: Auto-expand references when searching for reads (Issue #78)
  package-lock.json
  src/views/components/squiggy-reads-core.tsx
Due: typescript, TypeScript Extension

Fix: Add reference validation for multi-sample plots (Issue #121)
  squiggy/plotting.py
  src/backend/squiggy-runtime-api.ts
  src/commands/file-commands.ts
  src/state/extension-state.ts
  src/types/messages.ts
  src/views/components/squiggy-samples-core.tsx
Due: python, typescript, TypeScript Extension

Remove remaining Python logger references and fix linting issues
  squiggy/alignment.py
  squiggy/api.py
  squiggy/cache.py
  squiggy/io.py
  squiggy/modifications.py
  squiggy/normalization.py
  squiggy/plot_strategies/signal_overlay_comparison.py
  squiggy/plotting.py
  squiggy/utils.py
  src/backend/squiggy-runtime-api.ts
  src/state/__tests__/session-state-manager.test.ts
  src/state/session-state-manager.ts
Due: python, typescript, Python Backend, TypeScript Extension

Add configurable log level support with INFO as default
  package-lock.json
  package.json
  src/extension.ts
  src/utils/__mocks__/logger.ts
  src/utils/logger.ts
Due: typescript, TypeScript Extension

Improve timestamp format: add date and remove milliseconds
  src/utils/logger.ts
Due: typescript

Switch timestamps from UTC to local timezone
  src/utils/logger.ts
Due: typescript

Add logging and debugging section to user guide
  docs/user_guide.md
Due: none

Add Python console logging functionality (#130)
  docs/LOGGING.md
  docs/user_guide.md
  package-lock.json
  package.json
  squiggy/alignment.py
  squiggy/api.py
  squiggy/cache.py
  squiggy/io.py
  squiggy/logging_config.py
  squiggy/modifications.py
  squiggy/motif.py
  squiggy/normalization.py
  squiggy/plot_factory.py
  squiggy/plot_strategies/signal_overlay_comparison.py
  squiggy/plotting.py
  squiggy/utils.py
  src/backend/positron-runtime-client.ts
  src/backend/squiggy-positron-runtime.ts
  src/backend/squiggy-python-backend.ts
  src/backend/squiggy-runtime-api.ts
  src/commands/file-commands.ts
  src/extension.ts
  src/listeners/kernel-listeners.ts
  src/services/file-loading-service.ts
  src/state/__tests__/session-state-manager.test.ts
  src/state/extension-state.ts
  src/state/path-resolver.ts
  src/state/session-state-manager.ts
  src/utils/__mocks__/logger.ts
  src/utils/logger.ts
  src/views/base-webview-provider.ts
  src/views/squiggy-file-panel.ts
  src/views/squiggy-modifications-panel.ts
  src/views/squiggy-plot-options-view.ts
  src/views/squiggy-reads-view-pane.ts
  src/views/squiggy-samples-panel.ts
Due: python, typescript, Python Backend, TypeScript Extension

chore: update npm and vsix includes
  .vscodeignore
  package-lock.json
Due: none

feat: add Claude planning file check to /release command
  .claude/commands/release.md
  CLAUDE.md
Due: none

refactor: remove Windows installation instructions
  src/backend/package-manager.ts
Due: typescript, TypeScript Extension

Fix: Properly extract error messages from Python exceptions
  src/backend/positron-runtime-client.ts
  src/backend/squiggy-runtime-api.ts
Due: typescript, TypeScript Extension

style: fix formatting and ESLint errors
  src/backend/package-manager.ts
  src/extension.ts
  src/listeners/kernel-listeners.ts
  src/state/extension-state.ts
  src/views/squiggy-setup-panel.ts
Due: typescript, TypeScript Extension

Update terminology: Sample Comparison Manager → Samples panel
  squiggy/plotting.py
Due: python

fix: improve installation instructions clarity
  src/backend/package-manager.ts
Due: typescript, TypeScript Extension

feat: delay extension activation until Python package is installed (#126)
  package.json
  src/backend/package-manager.ts
  src/extension.ts
  src/listeners/kernel-listeners.ts
  src/state/extension-state.ts
  src/state/session-state-manager.ts
  src/types/messages.ts
  src/views/squiggy-setup-panel.ts
Due: typescript, TypeScript Extension

Update installation instructions to reference PyPI package
  docs/user_guide.md
  src/views/squiggy-setup-panel.ts
Due: typescript, TypeScript Extension

feat: delay extension activation until Python package is installed (#126)
  package.json
  src/extension.ts
  src/listeners/kernel-listeners.ts
  src/state/extension-state.ts
  src/state/session-state-manager.ts
  src/types/messages.ts
  src/views/squiggy-setup-panel.ts
Due: typescript, TypeScript Extension

Update installation instructions to use TestPyPI temporarily
  .vscodeignore
  README.md
  docs/PYPI_README.md
  pyproject.toml
  src/backend/package-manager.ts
  src/views/squiggy-setup-panel.ts
Due: typescript, TypeScript Extension

Fix: Extract error messages in all error handling paths
  src/backend/squiggy-positron-runtime.ts
  src/extension.ts
  src/utils/error-handler.ts
Due: typescript, TypeScript Extension

Fix: More robust error extraction from Positron runtime
  src/backend/positron-runtime-client.ts
Due: typescript, TypeScript Extension

Add debug logging to diagnose Positron error format
  src/backend/positron-runtime-client.ts
Due: typescript, TypeScript Extension

Publish Python package to PyPI as squiggy-positron (#68)
  .github/workflows/publish-python.yml
  .vscodeignore
  README.md
  docs/PYPI_README.md
  docs/user_guide.md
  examples/motif_analysis.ipynb
  examples/notebook_api_demo.ipynb
  examples/testing_testpypi.ipynb
  package.json
  pyproject.toml
  squiggy/__init__.py
  src/backend/package-manager.ts
  src/commands/file-commands.ts
  src/extension.ts
  src/views/squiggy-setup-panel.ts
Due: python, typescript, TypeScript Extension

chore: modernize Python packaging configuration
  pyproject.toml
Due: none

chore: update publish workflow to use uv instead of pip+build
  .github/workflows/publish-python.yml
Due: none
