Repository rnabioco/squiggy-positron: changes, and which Codecov flags are due for each by the changed paths.
All: python, typescript, Python Backend, TypeScript Extension

codecov.yml:

# Codecov Configuration for Squiggy
# https://docs.codecov.com/docs/codecovyml-reference

# Notification settings (disable emails)
notify:
  email: off

# Coverage calculation settings
coverage:
  precision: 2  # Decimal places for coverage percentage
  round: down   # Round coverage percentages down
  range: 70..100  # Green at 100%, red at 70%

  # Status checks that appear on PRs
  status:
    # Overall project coverage
    project:
      default:
        target: auto  # Maintain current coverage level
        threshold: 0%  # Don't fail if coverage stays same
        informational: true  # Don't block PRs

    # Coverage on changed code (patch)
    patch:
      default:
        target: 70%  # Encourage good coverage on new code
        threshold: 0%  # Don't fail, just inform
        informational: true  # Don't block PRs

# PR comment configuration
comment: off  # Disable PR comments

# Paths to ignore in coverage calculation
ignore:
  - "tests/**/*"  # Don't measure coverage of test files
  - "build/**/*"  # Don't measure build scripts
  - "docs/**/*"   # Don't measure documentation
  - "**/conftest.py"  # Don't measure pytest fixtures
  - "setup.py"    # Don't measure setup script
  - "legacy/**/*"  # Don't measure archived Qt app code

# Flag-based coverage (track Python and TypeScript separately)
flags:
  python:
    paths:
      - squiggy/
    carryforward: true  # Use previous coverage if upload fails

  typescript:
    paths:
      - src/
    carryforward: true

# Component-based coverage (optional - can expand later)
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: backend
      name: "Python Backend"
      paths:
        - squiggy/io.py
        - squiggy/plotter.py
        - squiggy/alignment.py
        - squiggy/normalization.py
        - squiggy/modifications.py
        - squiggy/utils.py

    - component_id: frontend
      name: "TypeScript Extension"
      paths:
        - src/backend/
        - src/views/
        - src/webview/
        - src/extension.ts
      flag: typescript

feat(tsv): Phase 1 - TSV import foundation with parser, path resolver, and validator
  docs/TSV_IMPORT_PROGRESS.md
  package.json
  src/commands/tsv-commands.ts
  src/extension.ts
  src/services/__tests__/tsv-parser.test.ts
  src/services/tsv-parser.ts
  src/services/tsv-path-resolver.ts
  src/services/tsv-validator.ts
Due: typescript, TypeScript Extension

fix: Critical UX improvements for React panels (#150)
  src/views/base-webview-provider.ts
  src/views/components/error-boundary.tsx
  src/views/components/webview-entry.tsx
  src/views/squiggy-file-panel.ts
  src/views/squiggy-plot-options-view.ts
  src/views/squiggy-samples-panel.ts
Due: typescript, TypeScript Extension

Critical UX fixes: React 18 migration, error boundaries, memory leaks (#151)
  src/views/base-webview-provider.ts
  src/views/components/error-boundary.tsx
  src/views/components/webview-entry.tsx
  src/views/squiggy-file-panel.ts
  src/views/squiggy-plot-options-view.ts
  src/views/squiggy-samples-panel.ts
Due: typescript, TypeScript Extension

feat: Add accessibility improvements to React panels (Phase 2)
  src/views/components/squiggy-files-table.tsx
  src/views/components/squiggy-modifications-core.tsx
Due: typescript, TypeScript Extension

Phase 2: Accessibility improvements for React panels (#152)
  src/views/components/squiggy-files-table.tsx
  src/views/components/squiggy-modifications-core.tsx
Due: typescript, TypeScript Extension

Phase 3+4: Type safety and performance improvements
  src/types/squiggy-reads-types.ts
  src/views/components/squiggy-reads-instance.tsx
  src/views/squiggy-plot-options-view.ts
Due: typescript, TypeScript Extension

style: Fix Prettier formatting in squiggy-reads-instance.tsx
  package-lock.json
  src/views/components/squiggy-reads-instance.tsx
Due: typescript, TypeScript Extension

Phase 3+4: Type safety and performance improvements (#153)
  package-lock.json
  src/types/squiggy-reads-types.ts
  src/views/components/squiggy-reads-instance.tsx
  src/views/squiggy-plot-options-view.ts
Due: typescript, TypeScript Extension

chore: Clean up console pollution from print statements
  .claude/agents/positron-api-auditor.md
  .claude/agents/positron-ux-reviewer.md
  package-lock.json
  squiggy/io.py
  squiggy/plot_strategies/overlay.py
  src/backend/squiggy-kernel-manager.ts
Due: python, typescript, Python Backend, TypeScript Extension

manuscript draft
  docs/manuscript/README.md
  docs/manuscript/architecture-diagram.mmd
  docs/manuscript/architecture-diagram.png
  docs/manuscript/architecture-diagram.svg
  docs/manuscript/oup-template.typ
  docs/manuscript/references.bib
  docs/manuscript/squiggy-manuscript.pdf
  docs/manuscript/squiggy-manuscript.typ
Due: none

Restructure architecture diagram for side-by-side layout
  docs/manuscript/.claude/agents/documentation-builder.md
  docs/manuscript/architecture-diagram.mmd
  docs/manuscript/architecture-diagram.png
Due: none

docs: Organize documentation files following CLAUDE.md conventions
  docs/archive/REFERENCE_NAVIGATION_DESIGN.md
  docs/archive/TSV_IMPORT_FUTURE_DESIGN.md
  docs/guides/LOGGING.md
  docs/guides/MANUAL_TESTING_GUIDE.md
  docs/guides/PYPI_README.md
  docs/user_guide.md
  mkdocs.yml
Due: none

docs: reformat typ file
  docs/manuscript/squiggy-manuscript.pdf
  docs/manuscript/squiggy-manuscript.typ
Due: none

fix: ux tweaks
  package-lock.json
  squiggy/plot_strategies/aggregate.py
  squiggy/plot_strategies/aggregate_comparison.py
  squiggy/plot_strategies/delta.py
  squiggy/plot_strategies/signal_overlay_comparison.py
  src/backend/squiggy-kernel-manager.ts
Due: python, typescript, TypeScript Extension

ux: fix zoom in aggregate plot
  squiggy/rendering/theme_manager.py
Due: python

chore: update npm and audit
  package-lock.json
Due: none

feat: add frequency and count filters for modification heatmap
  squiggy/plotting.py
  squiggy/utils.py
  src/backend/squiggy-runtime-api.ts
  src/commands/plot-commands.ts
  src/types/messages.ts
  src/views/components/squiggy-modifications-core.tsx
  src/views/squiggy-modifications-panel.ts
  tests/test_utils.py
Due: python, typescript, Python Backend, TypeScript Extension

refactor: Extract inline CSS to dedicated stylesheets for Samples and Plot Options panels
  package-lock.json
  src/utils/webview-utils.ts
  src/views/components/squiggy-plot-options-core.css
  src/views/components/squiggy-plot-options-core.tsx
  src/views/components/squiggy-samples-core.css
  src/views/components/squiggy-samples-core.tsx
Due: typescript, TypeScript Extension

fix: update tests and fix lints for mod-filtering-enhancements
  squiggy/plot_strategies/delta.py
  squiggy/plot_strategies/signal_overlay_comparison.py
  src/views/__tests__/squiggy-modifications-panel.test.ts
  tests/test_utils.py
Due: python, typescript, TypeScript Extension

chore: apply automatic linting and formatting fixes
  package-lock.json
  squiggy/plot_strategies/delta.py
  squiggy/plot_strategies/signal_overlay_comparison.py
  src/views/components/squiggy-plot-options-core.tsx
Due: python, typescript, TypeScript Extension

Add frequency and count filters for modification heatmap (#157)
  squiggy/plot_strategies/delta.py
  squiggy/plot_strategies/signal_overlay_comparison.py
  squiggy/plotting.py
  squiggy/utils.py
  src/backend/squiggy-runtime-api.ts
  src/commands/plot-commands.ts
  src/types/messages.ts
  src/views/__tests__/squiggy-modifications-panel.test.ts
  src/views/components/squiggy-modifications-core.tsx
  src/views/squiggy-modifications-panel.ts
  tests/test_utils.py
Due: python, typescript, Python Backend, TypeScript Extension

refactor: Extract inline CSS to dedicated stylesheets for Samples and Plot Options panels (#158)
  src/utils/webview-utils.ts
  src/views/components/squiggy-plot-options-core.css
  src/views/components/squiggy-plot-options-core.tsx
  src/views/components/squiggy-samples-core.css
  src/views/components/squiggy-samples-core.tsx
Due: typescript, TypeScript Extension

feat: Add adaptive downsampling for extreme scale optimization
  docs/user_guide.md
  squiggy/constants.py
  squiggy/plot_strategies/base.py
  tests/test_single_read_strategy.py
Due: python

feat: Add adaptive downsampling for extreme scale optimization (#159)
  docs/user_guide.md
  squiggy/constants.py
  squiggy/plot_strategies/base.py
  tests/test_single_read_strategy.py
Due: python

feat: Add x-axis windowing for long read visualization
  package-lock.json
  package.json
  squiggy/__init__.py
  squiggy/io.py
  squiggy/plot_strategies/aggregate.py
  squiggy/plotting.py
  src/backend/squiggy-runtime-api.ts
  src/extension.ts
  src/types/messages.ts
  src/utils/webview-utils.ts
  src/views/components/squiggy-plot-options-core.css
  src/views/components/squiggy-plot-options-core.tsx
  src/views/squiggy-plot-options-view.ts
Due: python, typescript, Python Backend, TypeScript Extension
