Repository rnabioco/squiggy-positron: changes, and which Codecov flags are due for each by the changed paths.
All: python, typescript, Python Backend, TypeScript Extension

fix: update cache test to expect ~/.cache/squiggy path
  tests/test_cache.py
Due: none

docs: update README and user guide for unified vsix approach
  .github/workflows/publish-python.yml
  README.md
  docs/user_guide.md
Due: none

feat: automatic venv setup with bundled Python package (#163)
  .github/workflows/publish-python.yml
  .vscodeignore
  README.md
  docs/user_guide.md
  package-lock.json
  package.json
  squiggy/cache.py
  src/backend/__tests__/squiggy-python-backend.test.ts
  src/backend/package-manager.ts
  src/backend/squiggy-kernel-manager.ts
  src/backend/squiggy-python-backend.ts
  src/backend/venv-manager.ts
  src/commands/__tests__/state-commands.test.ts
  src/commands/file-commands.ts
  src/commands/plot-commands.ts
  src/commands/state-commands.ts
  src/extension.ts
  src/listeners/kernel-listeners.ts
  src/state/__tests__/extension-state.test.ts
  src/state/extension-state.ts
  src/types/squiggy-positron.d.ts
  src/views/__tests__/squiggy-motif-panel.test.ts
  src/views/squiggy-motif-panel.ts
  src/views/squiggy-setup-panel.ts
  tests/test_cache.py
Due: python, typescript, TypeScript Extension

Fix markdown formatting in README
  README.md
Due: none

Release v0.1.18-alpha
  CHANGELOG.md
  package-lock.json
  package.json
  pyproject.toml
  squiggy/__init__.py
Due: python

fix: explicitly select squiggy venv runtime instead of relying on preferred
  CHANGELOG.md
  package-lock.json
  package.json
  pyproject.toml
  squiggy/__init__.py
  src/backend/squiggy-kernel-manager.ts
  src/backend/venv-manager.ts
Due: python, typescript, TypeScript Extension

fix: remove outdated manual install requirement from description
  package.json
Due: none

refactor: rename view files for consistent -panel.ts naming
  src/extension.ts
  src/state/extension-state.ts
  src/views/__tests__/squiggy-plot-options-panel.test.ts
  src/views/__tests__/squiggy-reads-panel.test.ts
  src/views/squiggy-plot-options-panel.ts
  src/views/squiggy-reads-panel.ts
Due: typescript, TypeScript Extension

refactor: replace console.* with logger for consistent logging
  src/commands/file-commands.ts
  src/state/extension-state.ts
Due: typescript

style: fix prettier formatting in extension-state.ts
  src/state/extension-state.ts
Due: typescript

fix: sync engines.vscode with @types/vscode version
  package-lock.json
  package.json
Due: none

fix: prompt Positron restart after venv creation
  package-lock.json
  package.json
  src/backend/squiggy-kernel-manager.ts
  src/backend/venv-manager.ts
  src/extension.ts
Due: typescript, TypeScript Extension

Pre-release polish: refactoring, logging, and venv discovery fix (#165)
  Squiggy.log
  Squiggy2.log
  Squiggy3.log
  Squiggy4.log
  Squiggy5.log
  Squiggy6.log
  src/backend/squiggy-kernel-manager.ts
  src/backend/venv-manager.ts
  src/extension.ts
Due: typescript, TypeScript Extension

Release v0.1.20-alpha
  CHANGELOG.md
  package-lock.json
  package.json
  pyproject.toml
  squiggy/__init__.py
Due: python

chore: remove accidentially added logs
  Squiggy.log
  Squiggy2.log
  Squiggy3.log
  Squiggy4.log
  Squiggy5.log
  Squiggy6.log
Due: none

feat: replace notification pop-ups with status bar messages
  src/__mocks__/vscode.ts
  src/backend/venv-manager.ts
  src/commands/__tests__/session-commands.test.ts
  src/commands/__tests__/state-commands.test.ts
  src/commands/file-commands.ts
  src/commands/session-commands.ts
  src/commands/state-commands.ts
  src/extension.ts
  src/state/extension-state.ts
  src/utils/status-bar-messenger.ts
  src/webview/__tests__/squiggy-plot-panel.test.ts
  src/webview/squiggy-plot-panel.ts
Due: typescript, TypeScript Extension

feat: replace notification pop-ups with status bar messages (#167)
  src/__mocks__/vscode.ts
  src/backend/venv-manager.ts
  src/commands/__tests__/session-commands.test.ts
  src/commands/__tests__/state-commands.test.ts
  src/commands/file-commands.ts
  src/commands/session-commands.ts
  src/commands/state-commands.ts
  src/extension.ts
  src/state/extension-state.ts
  src/utils/status-bar-messenger.ts
  src/webview/__tests__/squiggy-plot-panel.test.ts
  src/webview/squiggy-plot-panel.ts
Due: typescript, TypeScript Extension

refactor: simplify kernel architecture to single dedicated kernel
  CLAUDE.md
  src/backend/squiggy-kernel-manager.ts
  src/commands/__tests__/plot-commands.test.ts
  src/commands/__tests__/state-commands.test.ts
  src/commands/file-commands.ts
  src/commands/plot-commands.ts
  src/commands/state-commands.ts
  src/extension.ts
  src/services/__tests__/file-loading-service.test.ts
  src/services/file-loading-service.ts
  src/state/__tests__/extension-state.test.ts
  src/state/extension-state.ts
  src/types/squiggy-positron.d.ts
  src/views/__tests__/squiggy-motif-panel.test.ts
  src/views/squiggy-motif-panel.ts
Due: typescript, TypeScript Extension

refactor: simplify kernel architecture to single dedicated kernel (#168)
  CLAUDE.md
  src/backend/squiggy-kernel-manager.ts
  src/commands/__tests__/plot-commands.test.ts
  src/commands/__tests__/state-commands.test.ts
  src/commands/file-commands.ts
  src/commands/plot-commands.ts
  src/commands/state-commands.ts
  src/extension.ts
  src/services/__tests__/file-loading-service.test.ts
  src/services/file-loading-service.ts
  src/state/__tests__/extension-state.test.ts
  src/state/extension-state.ts
  src/types/squiggy-positron.d.ts
  src/views/__tests__/squiggy-motif-panel.test.ts
  src/views/squiggy-motif-panel.ts
Due: typescript, TypeScript Extension

docs: sync API reference and update example notebook
  docs/api.md
  docs/user_guide.md
  examples/notebook_api_demo.ipynb
Due: none

docs: remove legacy API references from notebook
  examples/notebook_api_demo.ipynb
Due: none

chore: remove dead code from samples panel
  src/views/components/squiggy-samples-core.tsx
  src/views/squiggy-samples-panel.ts
Due: typescript, TypeScript Extension

docs: sync API reference and update example notebook (#169)
  docs/api.md
  docs/user_guide.md
  examples/notebook_api_demo.ipynb
Due: none

Release v0.1.21-alpha
  CHANGELOG.md
  package-lock.json
  package.json
  pyproject.toml
  squiggy/__init__.py
Due: python

Path conditions:
  python: any of: squiggy/, but not: tests/**/*, build/**/*, docs/**/*, **/conftest.py, setup.py, legacy/**/*
  typescript: any of: src/, but not: tests/**/*, build/**/*, docs/**/*, **/conftest.py, setup.py, legacy/**/*
  Python Backend: any of: squiggy/io.py, squiggy/plotter.py, squiggy/alignment.py, squiggy/normalization.py, squiggy/modifications.py, squiggy/utils.py, but not: tests/**/*, build/**/*, docs/**/*, **/conftest.py, setup.py, legacy/**/*
  TypeScript Extension: any of: src/backend/, src/views/, src/webview/, src/extension.ts, but not: tests/**/*, build/**/*, docs/**/*, **/conftest.py, setup.py, legacy/**/*
