Repository rnabioco/squiggy-positron: changes, and which Codecov flags are due for each by the changed paths.
All: python, typescript, Python Backend, TypeScript Extension

codecov.yml:

# Codecov Configuration for Squiggy
# https://docs.codecov.com/docs/codecovyml-reference

# Notification settings (disable emails)
notify:
  email: off

# Coverage calculation settings
coverage:
  precision: 2  # Decimal places for coverage percentage
  round: down   # Round coverage percentages down
  range: 70..100  # Green at 100%, red at 70%

  # Status checks that appear on PRs
  status:
    # Overall project coverage
    project:
      default:
        target: auto  # Maintain current coverage level
        threshold: 0%  # Don't fail if coverage stays same
        informational: true  # Don't block PRs

    # Coverage on changed code (patch)
    patch:
      default:
        target: 70%  # Encourage good coverage on new code
        threshold: 0%  # Don't fail, just inform
        informational: true  # Don't block PRs

# PR comment configuration
comment: off  # Disable PR comments

# Paths to ignore in coverage calculation
ignore:
  - "tests/**/*"  # Don't measure coverage of test files
  - "build/**/*"  # Don't measure build scripts
  - "docs/**/*"   # Don't measure documentation
  - "**/conftest.py"  # Don't measure pytest fixtures
  - "setup.py"    # Don't measure setup script
  - "legacy/**/*"  # Don't measure archived Qt app code

# Flag-based coverage (track Python and TypeScript separately)
flags:
  python:
    paths:
      - squiggy/
    carryforward: true  # Use previous coverage if upload fails

  typescript:
    paths:
      - src/
    carryforward: true

# Component-based coverage (optional - can expand later)
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: backend
      name: "Python Backend"
      paths:
        - squiggy/io.py
        - squiggy/plotter.py
        - squiggy/alignment.py
        - squiggy/normalization.py
        - squiggy/modifications.py
        - squiggy/utils.py

    - component_id: frontend
      name: "TypeScript Extension"
      paths:
        - src/backend/
        - src/views/
        - src/webview/
        - src/extension.ts
      flag: typescript

Add Signal/Sequence coordinate toggle for per-read plots
  package-lock.json
  squiggy/__init__.py
  squiggy/plot_strategies/overlay.py
  squiggy/plot_strategies/single_read.py
  squiggy/plot_strategies/stacked.py
  squiggy/plotting.py
  src/backend/package-manager.ts
  src/backend/squiggy-positron-runtime.ts
  src/backend/squiggy-runtime-api.ts
  src/commands/file-commands.ts
  src/commands/plot-commands.ts
  src/extension.ts
  src/types/messages.ts
  src/types/squiggy-reads-types.ts
  src/views/components/squiggy-plot-options-core.tsx
  src/views/components/squiggy-reads-core.css
  src/views/components/squiggy-reads-core.tsx
  src/views/squiggy-plot-options-view.ts
  src/views/squiggy-reads-view-pane.ts
  src/webview/squiggy-plot-panel.ts
Due: python, typescript, TypeScript Extension

Fix: Wrap case block lexical declaration in braces
  src/webview/squiggy-plot-panel.ts
Due: typescript, TypeScript Extension

Style: Apply code formatting from pixi lint
  squiggy/plot_strategies/overlay.py
  squiggy/plot_strategies/stacked.py
  squiggy/plotting.py
  squiggy/rendering/reference_track_renderer.py
  src/backend/squiggy-positron-runtime.ts
  src/backend/squiggy-runtime-api.ts
  src/commands/plot-commands.ts
  src/extension.ts
  src/views/squiggy-reads-view-pane.ts
Due: python, typescript, TypeScript Extension

Fix: Update tests to reflect new behavior
  squiggy-positron-feature-120.code-workspace
  src/backend/__tests__/squiggy-positron-runtime.test.ts
  src/views/__tests__/squiggy-plot-options-view.test.ts
Due: typescript, TypeScript Extension

Fix: Update plotRead test to include coordinateSpace parameter
  src/views/__tests__/squiggy-reads-view-pane.test.ts
Due: typescript, TypeScript Extension

Style: Apply Prettier formatting to test file
  src/views/__tests__/squiggy-reads-view-pane.test.ts
Due: typescript, TypeScript Extension

Fix: Standardize FASTA reference display and add Signal/Sequence toggle (Issue #120) (#141)
  squiggy-positron-feature-120.code-workspace
  squiggy/__init__.py
  squiggy/plot_strategies/eventalign.py
  squiggy/plot_strategies/overlay.py
  squiggy/plot_strategies/single_read.py
  squiggy/plot_strategies/stacked.py
  squiggy/plotting.py
  squiggy/rendering/__init__.py
  squiggy/rendering/reference_track_renderer.py
  squiggy/utils.py
  src/backend/__tests__/squiggy-positron-runtime.test.ts
  src/backend/package-manager.ts
  src/backend/squiggy-positron-runtime.ts
  src/backend/squiggy-runtime-api.ts
  src/commands/file-commands.ts
  src/commands/plot-commands.ts
  src/extension.ts
  src/types/messages.ts
  src/types/squiggy-reads-types.ts
  src/views/__tests__/squiggy-plot-options-view.test.ts
  src/views/__tests__/squiggy-reads-view-pane.test.ts
  src/views/components/squiggy-plot-options-core.tsx
  src/views/components/squiggy-reads-core.css
  src/views/components/squiggy-reads-core.tsx
  src/views/squiggy-plot-options-view.ts
  src/views/squiggy-reads-view-pane.ts
  src/webview/squiggy-plot-panel.ts
Due: python, typescript, Python Backend, TypeScript Extension

feat: Add background kernel manager infrastructure (Phase 1)
  package.json
  src/backend/squiggy-kernel-manager.ts
  src/extension.ts
  src/state/extension-state.ts
Due: typescript, TypeScript Extension

feat: Route extension operations to background kernel (Phase 2)
  src/backend/positron-runtime-client.ts
  src/backend/runtime-client-interface.ts
  src/backend/squiggy-kernel-manager.ts
  src/backend/squiggy-runtime-api.ts
  src/commands/plot-commands.ts
  src/services/file-loading-service.ts
  src/state/extension-state.ts
Due: typescript, TypeScript Extension

fix: Improve Python extension detection with multiple ID attempts
  src/backend/squiggy-kernel-manager.ts
Due: typescript, TypeScript Extension

fix: Add fallback to foreground kernel if background kernel fails
  src/state/extension-state.ts
Due: typescript

Docs: Document background kernel architecture in CLAUDE.md
  CLAUDE.md
Due: none

Fix: Use public Positron runtime APIs instead of extension internals
  src/backend/squiggy-kernel-manager.ts
  src/commands/plot-commands.ts
  src/extension.ts
  src/services/file-loading-service.ts
  src/state/extension-state.ts
  src/types/squiggy-positron.d.ts
Due: typescript, TypeScript Extension

Fix: Wait for dedicated kernel to be ready before executing code
  src/backend/squiggy-kernel-manager.ts
Due: typescript, TypeScript Extension

Fix: Status bar not updating when kernel starts lazily
  src/backend/squiggy-kernel-manager.ts
  src/extension.ts
Due: typescript, TypeScript Extension

Fix: Use dedicated kernel for demo session loading
  src/state/extension-state.ts
Due: typescript

Fix: Use dedicated kernel for all data queries
  src/commands/file-commands.ts
Due: typescript

Fix: Prevent state clearing when dedicated kernel starts
  src/backend/squiggy-kernel-manager.ts
  src/listeners/kernel-listeners.ts
Due: typescript, TypeScript Extension

Test: Fix test mocks for background kernel integration
  eslint.config.mjs
  package-lock.json
  src/backend/squiggy-kernel-manager.ts
  src/backend/squiggy-runtime-api.ts
  src/commands/__tests__/plot-commands.test.ts
  src/extension.ts
  src/services/__tests__/file-loading-service.test.ts
  src/services/file-loading-service.ts
Due: typescript, TypeScript Extension

chore: bump npm libs
  package-lock.json
  squiggy-positron-feature-120.code-workspace
Due: none

refactor: Clean up Positron Variables pane by hiding internal state
  CLAUDE.md
  docs/REFERENCE_NAVIGATION_DESIGN.md
  docs/api.md
  docs/archive/issue-92-tasks.md
  squiggy/__init__.py
  squiggy/cache.py
  squiggy/io.py
  squiggy/plotting.py
  src/backend/squiggy-positron-runtime.ts
  src/backend/squiggy-runtime-api.ts
  src/commands/file-commands.ts
  src/commands/state-commands.ts
  src/services/file-loading-service.ts
  src/state/extension-state.ts
  src/state/path-resolver.ts
  tests/conftest.py
  tests/test_io.py
  tests/test_multi_sample.py
  tests/test_oo_api.py
Due: python, typescript, Python Backend, TypeScript Extension

refactor: Clean up Positron Variables pane by hiding internal state (#145)
  CLAUDE.md
  docs/REFERENCE_NAVIGATION_DESIGN.md
  docs/api.md
  docs/archive/issue-92-tasks.md
  squiggy/__init__.py
  squiggy/cache.py
  squiggy/io.py
  squiggy/plotting.py
  src/backend/squiggy-positron-runtime.ts
  src/backend/squiggy-runtime-api.ts
  src/commands/file-commands.ts
  src/commands/state-commands.ts
  src/services/file-loading-service.ts
  src/state/extension-state.ts
  src/state/path-resolver.ts
  tests/conftest.py
  tests/test_io.py
  tests/test_multi_sample.py
  tests/test_oo_api.py
Due: python, typescript, Python Backend, TypeScript Extension

Fix: Use background kernel API instead of direct squiggyAPI calls
  package-lock.json
  src/commands/file-commands.ts
  src/commands/plot-commands.ts
  src/commands/state-commands.ts
  src/extension.ts
  src/state/extension-state.ts
  src/views/squiggy-motif-panel.ts
Due: typescript, TypeScript Extension

chore: Update package-lock.json peer dependencies
  package-lock.json
Due: none

chore: Fix Prettier formatting in command files
  src/commands/file-commands.ts
  src/commands/plot-commands.ts
  src/commands/state-commands.ts
Due: typescript

test: Fix test mocks for ensureBackgroundKernel method
  package-lock.json
  src/commands/__tests__/state-commands.test.ts
  src/views/__tests__/squiggy-motif-panel.test.ts
Due: typescript, TypeScript Extension

Switch from TestPyPI to production PyPI
  .github/workflows/publish-python.yml
  README.md
  examples/testing_testpypi.ipynb
  src/backend/package-manager.ts
  src/views/squiggy-setup-panel.ts
Due: typescript, TypeScript Extension

Fix: Format squiggy-motif-panel.test.ts with Prettier
  src/views/__tests__/squiggy-motif-panel.test.ts
Due: typescript, TypeScript Extension

Switch from TestPyPI to production PyPI (#147)
  .github/workflows/publish-python.yml
  README.md
  examples/testing_testpypi.ipynb
  src/backend/package-manager.ts
  src/views/squiggy-setup-panel.ts
Due: typescript, TypeScript Extension

Implement background kernel architecture for dual-mode operation (#143)
  CLAUDE.md
  eslint.config.mjs
  package-lock.json
  package.json
  src/backend/positron-runtime-client.ts
  src/backend/runtime-client-interface.ts
  src/backend/squiggy-kernel-manager.ts
  src/backend/squiggy-runtime-api.ts
  src/commands/__tests__/plot-commands.test.ts
  src/commands/__tests__/state-commands.test.ts
  src/commands/file-commands.ts
  src/commands/plot-commands.ts
  src/commands/state-commands.ts
  src/extension.ts
  src/listeners/kernel-listeners.ts
  src/services/__tests__/file-loading-service.test.ts
  src/services/file-loading-service.ts
  src/state/extension-state.ts
  src/types/squiggy-positron.d.ts
  src/views/__tests__/squiggy-motif-panel.test.ts
  src/views/squiggy-motif-panel.ts
Due: typescript, TypeScript Extension

Release v0.1.16-alpha
  CHANGELOG.md
  package-lock.json
  package.json
  pyproject.toml
  squiggy/__init__.py
Due: python

docs: update pypi readme
  docs/PYPI_README.md
Due: none

feat(tsv): Phase 1 - TSV import foundation with parser, path resolver, and validator
  docs/TSV_IMPORT_PROGRESS.md
  package.json
  src/commands/tsv-commands.ts
  src/extension.ts
  src/services/__tests__/tsv-parser.test.ts
  src/services/tsv-parser.ts
  src/services/tsv-path-resolver.ts
  src/services/tsv-validator.ts
Due: typescript, TypeScript Extension
