Repository rnabioco/squiggy-positron: changes, and which Codecov flags are due for each by the changed paths.
All: Core Logic, Plotting, GUI

Add modBAM modification visualization with interactive filtering (#34)
  build/squiggy.spec
  src/squiggy/alignment.py
  src/squiggy/constants.py
  src/squiggy/main.py
  src/squiggy/modifications.py
  src/squiggy/plotting/__init__.py
  src/squiggy/plotting/aggregate.py
  src/squiggy/plotting/base.py
  src/squiggy/plotting/base_annotations.py
  src/squiggy/plotting/eventalign.py
  src/squiggy/plotting/overlay.py
  src/squiggy/plotting/single.py
  src/squiggy/ui_components.py
  src/squiggy/viewer.py
  tests/test_integration_modbam.py
  tests/test_modification_filtering.py
  tests/test_modifications.py
  tests/test_plotting_base.py
  tests/test_signal_accuracy.py
Due: Core Logic, GUI

refactor: modularize UI components into ui/ directory
  src/squiggy/ui/__init__.py
  src/squiggy/ui/advanced_options.py
  src/squiggy/ui/file_info.py
  src/squiggy/ui/modifications.py
  src/squiggy/ui/plot_options.py
  src/squiggy/ui/search.py
  src/squiggy/ui_components.py
  src/squiggy/viewer.py
  tests/test_modifications.py
Due: GUI

Refactor UI components into modular ui/ directory (#35)
  src/squiggy/ui/__init__.py
  src/squiggy/ui/advanced_options.py
  src/squiggy/ui/file_info.py
  src/squiggy/ui/modifications.py
  src/squiggy/ui/plot_options.py
  src/squiggy/ui/search.py
  src/squiggy/ui_components.py
  src/squiggy/viewer.py
  tests/test_modifications.py
Due: GUI

refactor(viewer): extract export and zoom managers
  src/squiggy/managers/__init__.py
  src/squiggy/managers/export.py
  src/squiggy/managers/zoom.py
  src/squiggy/viewer.py
Due: GUI

Refactor viewer: Extract export and zoom managers (#36)
  src/squiggy/managers/__init__.py
  src/squiggy/managers/export.py
  src/squiggy/managers/zoom.py
  src/squiggy/viewer.py
Due: GUI

feat(extension): initial Positron extension implementation
  .gitignore
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  README_EXTENSION.md
  package-lock.json
  package.json
  pyproject.toml
  resources/icon.svg
  squiggy/__init__.py
  squiggy/alignment.py
  squiggy/constants.py
  squiggy/io.py
  squiggy/normalization.py
  squiggy/plotter.py
  squiggy/utils.py
  src/backend/positronRuntime.ts
  src/backend/pythonBackend.ts
  src/extension.ts
  src/types/positron.d.ts
  src/views/readExplorer.ts
  src/webview/plotPanel.ts
  tsconfig.json
  uv.lock
Due: none

feat(extension): add modification filtering, base labels, x-axis scaling, and search
  .vscode/extensions.json
  .vscode/launch.json
  ARCHITECTURE_UPDATE.md
  BACKEND_API.md
  DEVELOPMENT.md
  PROGRESS.md
  README_EXTENSION.md
  TASK.md
  package.json
  pixi.toml
  squiggy/__init__.py
  squiggy/alignment.py
  squiggy/constants.py
  squiggy/io.py
  squiggy/modifications.py
  squiggy/plotter.py
  src/backend/squiggy-positronRuntime.ts
  src/backend/squiggy-pythonBackend.ts
  src/extension.ts
  src/types/squiggy-positron.d.ts
  src/views/readExplorer.ts
  src/views/squiggy-filePanel.ts
  src/views/squiggy-modificationsPanel.ts
  src/views/squiggy-plotOptionsView.ts
  src/views/squiggy-readExplorer.ts
  src/views/squiggy-readSearchView.ts
  src/webview/squiggy-plotPanel.ts
  test_server.py
Due: none

refactor: clean up debugging code and rename files to kebab-case
  resources/icon.svg
  src/backend/__tests__/squiggy-python-backend.test.ts
  src/backend/squiggy-positron-runtime.ts
  src/backend/squiggy-python-backend.ts
  src/extension.ts
  src/views/__tests__/squiggy-read-explorer.test.ts
  src/views/squiggy-file-panel.ts
  src/views/squiggy-modifications-panel.ts
  src/views/squiggy-plot-options-view.ts
  src/views/squiggy-read-explorer.ts
  src/views/squiggy-read-search-view.ts
  src/webview/squiggy-plot-panel.ts
Due: none

feat: add Load Test Data button and remove legacy test files
  src/extension.ts
  src/views/squiggy-file-panel.ts
  tests/data/mod_mappings.bam
  tests/data/mod_reads.pod5
Due: none

fix: defer squiggy installation check to avoid console clutter
  src/extension.ts
Due: none

feat: add squiggy version badge to file panel
  src/backend/squiggy-positron-runtime.ts
  src/extension.ts
  src/views/squiggy-file-panel.ts
Due: none

fix(extension): eliminate console pollution using Positron variable access API
  CLAUDE.md
  docs/DEVELOPER.md
  src/backend/__tests__/squiggy-python-backend.test.ts
  src/backend/squiggy-positron-runtime.ts
  src/extension.ts
  src/types/squiggy-positron.d.ts
  src/views/__tests__/squiggy-read-explorer.test.ts
  src/views/squiggy-read-explorer.ts
Due: none

fix(ci): commit pixi.lock for reproducible CI builds
  .gitignore
  pixi.lock
Due: none

fix(lint): resolve all Python linting errors
  squiggy/__init__.py
  squiggy/io.py
  squiggy/modifications.py
  squiggy/plotter.py
  squiggy/utils.py
  tests/test_api.py
Due: none

fix(lint): resolve all TypeScript ESLint errors
  .eslintrc.json
  src/backend/squiggy-python-backend.ts
  src/extension.ts
  src/views/squiggy-file-panel.ts
  src/views/squiggy-modifications-panel.ts
  src/views/squiggy-plot-options-view.ts
  src/views/squiggy-read-explorer.ts
  src/views/squiggy-read-search-view.ts
  src/webview/squiggy-plot-panel.ts
Due: none

fix(format): apply Prettier formatting to extension.ts
  src/extension.ts
Due: none

fix(plot): eliminate console pollution from plot generation
  src/backend/squiggy-positron-runtime.ts
Due: none

feat(aggregate): add aggregate plot mode for multi-read visualization
  package.json
  squiggy/__init__.py
  src/backend/squiggy-positron-runtime.ts
  src/extension.ts
Due: none

fix(loadTestData): prevent hanging when data is already loaded
  src/extension.ts
Due: none

fix(aggregate): correct parameter names for extract_reads_for_reference()
  squiggy/__init__.py
Due: none

Path conditions:
  Core Logic: any of: src/squiggy/utils.py, src/squiggy/alignment.py, src/squiggy/normalization.py, but not: tests/**/*, build/**/*, docs/**/*, **/conftest.py, setup.py
  Plotting: any of: src/squiggy/plotter_bokeh.py, but not: tests/**/*, build/**/*, docs/**/*, **/conftest.py, setup.py
  GUI: any of: src/squiggy/viewer.py, src/squiggy/dialogs.py, but not: tests/**/*, build/**/*, docs/**/*, **/conftest.py, setup.py
