Repository rnabioco/squiggy-positron: changes, and which Codecov flags are due for each by the changed paths.
All: python, typescript, Python Backend, TypeScript Extension

codecov.yml:

# Codecov Configuration for Squiggy
# https://docs.codecov.com/docs/codecovyml-reference

# Notification settings (disable emails)
notify:
  email: off

# Coverage calculation settings
coverage:
  precision: 2  # Decimal places for coverage percentage
  round: down   # Round coverage percentages down
  range: 70..100  # Green at 100%, red at 70%

  # Status checks that appear on PRs
  status:
    # Overall project coverage
    project:
      default:
        target: auto  # Maintain current coverage level
        threshold: 0%  # Don't fail if coverage stays same
        informational: true  # Don't block PRs

    # Coverage on changed code (patch)
    patch:
      default:
        target: 70%  # Encourage good coverage on new code
        threshold: 0%  # Don't fail, just inform
        informational: true  # Don't block PRs

# PR comment configuration
comment: off  # Disable PR comments

# Paths to ignore in coverage calculation
ignore:
  - "tests/**/*"  # Don't measure coverage of test files
  - "build/**/*"  # Don't measure build scripts
  - "docs/**/*"   # Don't measure documentation
  - "**/conftest.py"  # Don't measure pytest fixtures
  - "setup.py"    # Don't measure setup script
  - "legacy/**/*"  # Don't measure archived Qt app code

# Flag-based coverage (track Python and TypeScript separately)
flags:
  python:
    paths:
      - squiggy/
    carryforward: true  # Use previous coverage if upload fails

  typescript:
    paths:
      - src/
    carryforward: true

# Component-based coverage (optional - can expand later)
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: backend
      name: "Python Backend"
      paths:
        - squiggy/io.py
        - squiggy/plotter.py
        - squiggy/alignment.py
        - squiggy/normalization.py
        - squiggy/modifications.py
        - squiggy/utils.py

    - component_id: frontend
      name: "TypeScript Extension"
      paths:
        - src/backend/
        - src/views/
        - src/webview/
        - src/extension.ts
      flag: typescript

fix: reads table remount jank + persist column widths (#191)
  src/types/messages.ts
  src/views/__tests__/squiggy-reads-panel.test.ts
  src/views/components/squiggy-reads-core.tsx
  src/views/components/squiggy-reads-instance.tsx
  src/views/squiggy-reads-panel.ts
Due: typescript, TypeScript Extension

fix: backend perf — indexed BAM fetch, mtime cache, handle leak (#190)
  squiggy/cache.py
  squiggy/utils/bam.py
  tests/test_cache.py
Due: python

fix: reads table remount jank + persist column widths (#191) (#195)
  src/types/messages.ts
  src/views/__tests__/squiggy-reads-panel.test.ts
  src/views/components/squiggy-reads-core.tsx
  src/views/components/squiggy-reads-instance.tsx
  src/views/squiggy-reads-panel.ts
Due: typescript, TypeScript Extension

refactor: route session/state command errors through handleError (#189)
  src/commands/__tests__/session-commands.test.ts
  src/commands/__tests__/state-commands.test.ts
  src/commands/session-commands.ts
  src/commands/state-commands.ts
  src/utils/error-handler.ts
Due: typescript

refactor: extract shared genomic-coordinate helpers for plot strategies (#188)
  squiggy/plot_strategies/base.py
  squiggy/plot_strategies/overlay.py
  squiggy/plot_strategies/single_read.py
  squiggy/plot_strategies/stacked.py
  tests/test_plot_coordinates.py
Due: python

refactor: extract shared genomic-coordinate helpers for plot strategies (#188) (#198)
  squiggy/plot_strategies/base.py
  squiggy/plot_strategies/overlay.py
  squiggy/plot_strategies/single_read.py
  squiggy/plot_strategies/stacked.py
  tests/test_plot_coordinates.py
Due: python

refactor: route session/state command errors through handleError (#189) (#197)
  src/commands/__tests__/session-commands.test.ts
  src/commands/__tests__/state-commands.test.ts
  src/commands/session-commands.ts
  src/commands/state-commands.ts
  src/utils/error-handler.ts
Due: typescript

fix: backend perf — indexed BAM fetch, mtime cache, handle leak (#190) (#196)
  squiggy/cache.py
  squiggy/utils/bam.py
  tests/test_cache.py
Due: python

fix: kernel manager concurrency & lifecycle gaps (#186) (#194)
  src/__mocks__/positron.ts
  src/__mocks__/vscode.ts
  src/backend/__tests__/squiggy-kernel-manager.test.ts
  src/backend/squiggy-kernel-manager.ts
Due: typescript, TypeScript Extension

refactor: make _loadedItems the single source of truth for samples (#187)
  src/state/__tests__/extension-state.test.ts
  src/state/extension-state.ts
  src/types/loaded-item.ts
Due: typescript

refactor: single source of truth for samples in ExtensionState (#187) (#199)
  src/state/__tests__/extension-state.test.ts
  src/state/extension-state.ts
  src/types/loaded-item.ts
Due: typescript

feat: complete multi-track aggregate plot + fix plotting/UX wiring gaps
  package.json
  squiggy/plot_strategies/aggregate_comparison.py
  squiggy/plotting.py
  src/backend/squiggy-runtime-api.ts
  src/commands/__tests__/plot-commands.test.ts
  src/commands/plot-commands.ts
  src/extension.ts
  src/state/extension-state.ts
  src/views/__tests__/squiggy-plot-options-panel.test.ts
  src/views/components/squiggy-samples-core.tsx
  src/views/squiggy-plot-options-panel.ts
  tests/test_aggregate_comparison_strategy.py
Due: python, typescript, TypeScript Extension

fix: address remaining non-plotting UX gaps
  src/backend/squiggy-kernel-manager.ts
  src/commands/file-commands.ts
  src/views/squiggy-samples-panel.ts
  src/views/squiggy-session-panel.ts
Due: typescript, TypeScript Extension

style: apply prettier formatting to touched files
  src/backend/squiggy-runtime-api.ts
  src/views/components/squiggy-samples-core.tsx
Due: typescript, TypeScript Extension

style: apply ruff format to aggregate_comparison.py
  squiggy/plot_strategies/aggregate_comparison.py
Due: python

Complete multi-track aggregate plot + fix plotting/UX wiring gaps (#200)
  package.json
  squiggy/plot_strategies/aggregate_comparison.py
  squiggy/plotting.py
  src/backend/squiggy-kernel-manager.ts
  src/backend/squiggy-runtime-api.ts
  src/commands/__tests__/plot-commands.test.ts
  src/commands/file-commands.ts
  src/commands/plot-commands.ts
  src/extension.ts
  src/state/extension-state.ts
  src/views/__tests__/squiggy-plot-options-panel.test.ts
  src/views/components/squiggy-samples-core.tsx
  src/views/squiggy-plot-options-panel.ts
  src/views/squiggy-samples-panel.ts
  src/views/squiggy-session-panel.ts
  tests/test_aggregate_comparison_strategy.py
Due: python, typescript, TypeScript Extension

refactor: decompose the two large webview panels into components
  src/views/components/squiggy-plot-options-aggregate.tsx
  src/views/components/squiggy-plot-options-compare.tsx
  src/views/components/squiggy-plot-options-core.tsx
  src/views/components/squiggy-plot-options-per-read.tsx
  src/views/components/squiggy-plot-options-types.ts
  src/views/components/squiggy-sample-row.tsx
  src/views/components/squiggy-samples-core.tsx
Due: typescript, TypeScript Extension

test: add component tests for SampleRow and the plot-options sections
  src/views/components/__tests__/squiggy-plot-options-aggregate.test.tsx
  src/views/components/__tests__/squiggy-plot-options-compare.test.tsx
  src/views/components/__tests__/squiggy-plot-options-per-read.test.tsx
  src/views/components/__tests__/squiggy-sample-row.test.tsx
Due: typescript, TypeScript Extension

Refactor: decompose the two large webview panels into components (#201)
  src/views/components/__tests__/squiggy-plot-options-aggregate.test.tsx
  src/views/components/__tests__/squiggy-plot-options-compare.test.tsx
  src/views/components/__tests__/squiggy-plot-options-per-read.test.tsx
  src/views/components/__tests__/squiggy-sample-row.test.tsx
  src/views/components/squiggy-plot-options-aggregate.tsx
  src/views/components/squiggy-plot-options-compare.tsx
  src/views/components/squiggy-plot-options-core.tsx
  src/views/components/squiggy-plot-options-per-read.tsx
  src/views/components/squiggy-plot-options-types.ts
  src/views/components/squiggy-sample-row.tsx
  src/views/components/squiggy-samples-core.tsx
Due: typescript, TypeScript Extension
