Repository rnabioco/squiggy-positron: changes, and which Codecov flags are due for each by the changed paths.
All: python, typescript, Python Backend, TypeScript Extension

codecov.yml:

# Codecov Configuration for Squiggy
# https://docs.codecov.com/docs/codecovyml-reference

# Notification settings (disable emails)
notify:
  email: off

# Coverage calculation settings
coverage:
  precision: 2  # Decimal places for coverage percentage
  round: down   # Round coverage percentages down
  range: 70..100  # Green at 100%, red at 70%

  # Status checks that appear on PRs
  status:
    # Overall project coverage
    project:
      default:
        target: auto  # Maintain current coverage level
        threshold: 0%  # Don't fail if coverage stays same
        informational: true  # Don't block PRs

    # Coverage on changed code (patch)
    patch:
      default:
        target: 70%  # Encourage good coverage on new code
        threshold: 0%  # Don't fail, just inform
        informational: true  # Don't block PRs

# PR comment configuration
comment: off  # Disable PR comments

# Paths to ignore in coverage calculation
ignore:
  - "tests/**/*"  # Don't measure coverage of test files
  - "build/**/*"  # Don't measure build scripts
  - "docs/**/*"   # Don't measure documentation
  - "**/conftest.py"  # Don't measure pytest fixtures
  - "setup.py"    # Don't measure setup script
  - "legacy/**/*"  # Don't measure archived Qt app code

# Flag-based coverage (track Python and TypeScript separately)
flags:
  python:
    paths:
      - squiggy/
    carryforward: true  # Use previous coverage if upload fails

  typescript:
    paths:
      - src/
    carryforward: true

# Component-based coverage (optional - can expand later)
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: backend
      name: "Python Backend"
      paths:
        - squiggy/io.py
        - squiggy/plotter.py
        - squiggy/alignment.py
        - squiggy/normalization.py
        - squiggy/modifications.py
        - squiggy/utils.py

    - component_id: frontend
      name: "TypeScript Extension"
      paths:
        - src/backend/
        - src/views/
        - src/webview/
        - src/extension.ts
      flag: typescript

feat: Complete x-axis windowing for all plot strategies
  package-lock.json
  squiggy/__init__.py
  squiggy/io.py
  squiggy/plot_strategies/eventalign.py
  squiggy/plot_strategies/overlay.py
  squiggy/plot_strategies/single_read.py
  squiggy/plot_strategies/stacked.py
Due: python, Python Backend

refactor: Replace rc-slider with native number inputs for x-axis windowing
  package-lock.json
  package.json
  src/views/components/squiggy-plot-options-core.css
  src/views/components/squiggy-plot-options-core.tsx
Due: typescript, TypeScript Extension

feat: filter pod5 and bam
  scripts/filter_reads.py
Due: none

feat: support POD5 directory input in filter_reads.py script
  scripts/filter_reads.py
Due: none

fix: convert ReadRecord to Read object in filter_reads.py
  scripts/filter_reads.py
Due: none

fix: handle UUID to string conversion for POD5 read IDs
  scripts/filter_reads.py
Due: none

fix: add error handling to skip corrupted POD5 files
  scripts/filter_reads.py
Due: none

feat: add BAM output and end_reason filter to filter_reads.py
  scripts/filter_reads.py
Due: none

refactor: use coverage-based region identification in filter_reads.py
  scripts/filter_reads.py
Due: none

fix: update test expectations for x-axis windowing parameters
  squiggy/io.py
  squiggy/plot_strategies/aggregate.py
  squiggy/plot_strategies/eventalign.py
  squiggy/plot_strategies/single_read.py
  src/views/__tests__/squiggy-plot-options-view.test.ts
  src/views/components/squiggy-plot-options-core.tsx
Due: python, typescript, Python Backend, TypeScript Extension

chore: update lock files
  package-lock.json
  pixi.lock
  pixi.toml
  pyproject.toml
Due: none

fix: remove duplicate Cancel buttons from modal dialogs
  src/commands/__tests__/session-commands.test.ts
  src/commands/session-commands.ts
  src/views/squiggy-samples-panel.ts
Due: typescript, TypeScript Extension

fix: resolve sample not found error after unloading demo data (#161)
  squiggy/io.py
  src/extension.ts
  tests/test_multi_sample.py
Due: python, typescript, Python Backend, TypeScript Extension

fix: populate read count when loading demo/session samples (#162)
  src/state/extension-state.ts
Due: typescript

Release v0.1.17-alpha
  CHANGELOG.md
  package-lock.json
  package.json
  pyproject.toml
  squiggy/__init__.py
Due: python

feat: automatic venv setup with bundled Python package
  .vscodeignore
  package-lock.json
  package.json
  squiggy/cache.py
  src/backend/venv-manager.ts
  src/extension.ts
  src/views/squiggy-setup-panel.ts
  tests/test_cache.py
Due: python, typescript, TypeScript Extension

fix: use Positron auto-discovery for squiggy venv
  src/backend/squiggy-kernel-manager.ts
  src/backend/venv-manager.ts
  src/state/extension-state.ts
  src/types/squiggy-positron.d.ts
Due: typescript, TypeScript Extension

fix: route all Python execution through background kernel
  src/commands/file-commands.ts
  src/state/extension-state.ts
Due: typescript

fix: use background kernel for path resolution in restoreSample()
  src/state/extension-state.ts
Due: typescript

fix: remove PackageManager and skip squiggy availability checks
  src/backend/package-manager.ts
  src/commands/file-commands.ts
  src/state/__tests__/extension-state.test.ts
  src/state/extension-state.ts
Due: typescript, TypeScript Extension

refactor: remove PythonBackend and usePositron flag
  package-lock.json
  src/backend/__tests__/squiggy-python-backend.test.ts
  src/backend/squiggy-python-backend.ts
  src/commands/__tests__/state-commands.test.ts
  src/commands/file-commands.ts
  src/commands/plot-commands.ts
  src/commands/state-commands.ts
  src/extension.ts
  src/listeners/kernel-listeners.ts
  src/state/__tests__/extension-state.test.ts
  src/state/extension-state.ts
  src/views/__tests__/squiggy-motif-panel.test.ts
  src/views/squiggy-motif-panel.ts
Due: typescript, TypeScript Extension

fix: change cache path from ~/.local/squiggy/cache to ~/.cache/squiggy
  squiggy/cache.py
  src/backend/venv-manager.ts
Due: python, typescript, TypeScript Extension

fix: remove unused execSync import
  package-lock.json
  src/backend/venv-manager.ts
Due: typescript, TypeScript Extension

style: fix prettier formatting
  src/backend/venv-manager.ts
  src/commands/plot-commands.ts
Due: typescript, TypeScript Extension
