Repository rnabioco/squiggy-positron: changes, and which Codecov flags are due for each by the changed paths.
All: python, typescript, Python Backend, TypeScript Extension

codecov.yml:

# Codecov Configuration for Squiggy
# https://docs.codecov.com/docs/codecovyml-reference

# Notification settings (disable emails)
notify:
  email: off

# Coverage calculation settings
coverage:
  precision: 2  # Decimal places for coverage percentage
  round: down   # Round coverage percentages down
  range: 70..100  # Green at 100%, red at 70%

  # Status checks that appear on PRs
  status:
    # Overall project coverage
    project:
      default:
        target: auto  # Maintain current coverage level
        threshold: 0%  # Don't fail if coverage stays same
        informational: true  # Don't block PRs

    # Coverage on changed code (patch)
    patch:
      default:
        target: 70%  # Encourage good coverage on new code
        threshold: 0%  # Don't fail, just inform
        informational: true  # Don't block PRs

# PR comment configuration
comment: off  # Disable PR comments

# Paths to ignore in coverage calculation
ignore:
  - "tests/**/*"  # Don't measure coverage of test files
  - "build/**/*"  # Don't measure build scripts
  - "docs/**/*"   # Don't measure documentation
  - "**/conftest.py"  # Don't measure pytest fixtures
  - "setup.py"    # Don't measure setup script
  - "legacy/**/*"  # Don't measure archived Qt app code

# Flag-based coverage (track Python and TypeScript separately)
flags:
  python:
    paths:
      - squiggy/
    carryforward: true  # Use previous coverage if upload fails

  typescript:
    paths:
      - src/
    carryforward: true

# Component-based coverage (optional - can expand later)
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: backend
      name: "Python Backend"
      paths:
        - squiggy/io.py
        - squiggy/plotter.py
        - squiggy/alignment.py
        - squiggy/normalization.py
        - squiggy/modifications.py
        - squiggy/utils.py

    - component_id: frontend
      name: "TypeScript Extension"
      paths:
        - src/backend/
        - src/views/
        - src/webview/
        - src/extension.ts
      flag: typescript

fix: Resolve 25 mypy type checking errors
  squiggy/__init__.py
  squiggy/api.py
  squiggy/plot_strategies/base.py
  squiggy/utils.py
  tests/test_api.py
  tests/test_io.py
  tests/test_oo_api.py
Due: python, Python Backend

chore: Update pixi.lock with mypy dependencies
  pixi.lock
Due: none

chore: fix linting errors
  examples/motif_analysis.ipynb
  examples/notebook_api_demo.ipynb
  scripts/create_test_data.py
  squiggy/__init__.py
  squiggy/plot_strategies/base.py
  squiggy/utils.py
Due: python, Python Backend

fix: Resolve 31 mypy type checking errors in core library
  squiggy/__init__.py
  squiggy/api.py
  squiggy/cache.py
  squiggy/modifications.py
  squiggy/normalization.py
  squiggy/plot_factory.py
  squiggy/utils.py
Due: python, Python Backend

feat: Add sample visualization selection and enhance Samples panel UX
  package.json
  src/commands/file-commands.ts
  src/extension.ts
  src/state/__tests__/extension-state.test.ts
  src/state/extension-state.ts
  src/types/messages.ts
  src/views/components/squiggy-samples-core.tsx
  src/views/squiggy-samples-panel.ts
Due: typescript, TypeScript Extension

fix: Resolve linting errors and improve multi-sample plotting validation
  src/commands/plot-commands.ts
  src/state/extension-state.ts
  src/views/components/squiggy-samples-core.tsx
Due: typescript, TypeScript Extension

feat: Phase 3 - UI Consolidation and Unified Sample Management (#97)
  INVESTIGATION_REPORT.md
  KNOWN_ISSUES.md
  docs/MANUAL_TESTING_GUIDE.md
  docs/PHASE1_DESIGN.md
  docs/PHASE2_COMPLETION_SUMMARY.md
  docs/PHASE2_IMPLEMENTATION_GUIDE.md
  docs/PHASE3_PLAN.md
  docs/TSV_IMPORT_FUTURE_DESIGN.md
  docs/UNIFIED_STATE_ARCHITECTURE.md
  package-lock.json
  package.json
  squiggy/__init__.py
  squiggy/io.py
  src/__tests__/cross-panel-sync.test.ts
  src/__tests__/session-state.test.ts
  src/backend/positron-runtime-client.ts
  src/backend/squiggy-runtime-api.ts
  src/commands/file-commands.ts
  src/commands/plot-commands.ts
  src/extension.ts
  src/services/__tests__/file-loading-service.test.ts
  src/services/file-loading-service.ts
  src/state/__tests__/extension-state.test.ts
  src/state/extension-state.ts
  src/types/file-loading-types.ts
  src/types/loaded-item.ts
  src/types/messages.ts
  src/views/components/squiggy-files-core.tsx
  src/views/components/squiggy-files-toolbar.tsx
  src/views/components/squiggy-reads-core.css
  src/views/components/squiggy-reads-core.tsx
  src/views/components/squiggy-samples-core.tsx
  src/views/squiggy-file-panel.ts
  src/views/squiggy-reads-view-pane.ts
  src/views/squiggy-samples-panel.ts
  tasks.md
Due: python, typescript, Python Backend, TypeScript Extension

refactor: Consolidate test data to squiggy/data/ directory (#99)
  .claude/CLAUDE_CODE_WEB.md
  .claude/README.md
  .claude/commands/squiggy.md
  .gitattributes
  .github/copilot-instructions.md
  .github/pull_request_template.md
  .gitignore
  CLAUDE.md
  docs/developer.md
  docs/user_guide.md
  examples/motif_analysis.ipynb
  examples/notebook_api_demo.ipynb
  scripts/create_test_data.py
  scripts/setup-test-workspace.sh
  squiggy/__init__.py
  squiggy/data/README.md
  squiggy/utils.py
  tests/conftest.py
  tests/data/README.md
  tests/data/mod_mappings.bam.bai
  tests/data/yeast_trna.fa
  tests/data/yeast_trna.fa.fai
  tests/data/yeast_trna_mappings.bam
  tests/data/yeast_trna_mappings.bam.bai
  tests/data/yeast_trna_reads.pod5
  tests/test_motif.py
Due: python, Python Backend

chore: Bump version to 0.1.13-alpha
  package.json
  pyproject.toml
  squiggy/__init__.py
Due: python

feat: Add manual BAM/FASTA file association for samples (#106)
  package-lock.json
  src/commands/file-commands.ts
  src/types/messages.ts
  src/views/components/squiggy-samples-core.tsx
  src/views/squiggy-samples-panel.ts
Due: typescript, TypeScript Extension

feat: Add backend support for 7 plot types including aggregate comparison
  squiggy/__init__.py
  squiggy/constants.py
  squiggy/plot_factory.py
  squiggy/plot_strategies/aggregate_comparison.py
  src/backend/squiggy-runtime-api.ts
  src/types/messages.ts
Due: python, typescript, TypeScript Extension

feat: Complete UI refactoring for 7 plot types in Advanced Plotting pane
  src/views/components/squiggy-plot-options-core.tsx
  src/views/squiggy-plot-options-view.ts
Due: typescript, TypeScript Extension

feat: Wire up event handlers and sample sync for all 7 plot types
  src/commands/plot-commands.ts
  src/extension.ts
Due: typescript, TypeScript Extension

feat: Add file compatibility validation for POD5/BAM/FASTA associations
  squiggy/io.py
Due: python, Python Backend

style: Fix linting issues in validation code
  squiggy/io.py
Due: python, Python Backend

style: Apply prettier formatting
  src/commands/file-commands.ts
  src/views/components/squiggy-samples-core.tsx
Due: typescript, TypeScript Extension

Manual BAM/FASTA file association for samples with file validation (#107)
  package-lock.json
  squiggy/io.py
  src/commands/file-commands.ts
  src/types/messages.ts
  src/views/components/squiggy-samples-core.tsx
  src/views/squiggy-samples-panel.ts
Due: python, typescript, Python Backend, TypeScript Extension

test: Add comprehensive tests for AggregateComparisonStrategy
  squiggy/plot_strategies/aggregate_comparison.py
  tests/test_aggregate_comparison_strategy.py
Due: python

fix: Correct variable name in extension-state.ts after merge
  src/state/extension-state.ts
Due: typescript

fix: Resolve TypeScript compilation errors
  package-lock.json
  src/commands/plot-commands.ts
  src/extension.ts
  src/views/squiggy-plot-options-view.ts
Due: typescript, TypeScript Extension

fix: Add missing properties to BAMLoadResult type definition
  src/commands/plot-commands.ts
  src/services/file-loading-service.ts
  src/types/file-loading-types.ts
Due: typescript

docs: Add test coverage improvement plan
  TEST_COVERAGE_PLAN.md
Due: none

fix: Fix aggregate plot issues and add relative coordinate transformation (#95)
  .vscode/settings.json
  package-lock.json
  package.json
  squiggy/__init__.py
  squiggy/alignment.py
  squiggy/plot_strategies/aggregate.py
  squiggy/utils.py
  src/backend/squiggy-positron-runtime.ts
  src/backend/squiggy-runtime-api.ts
  src/commands/file-commands.ts
  src/commands/plot-commands.ts
  src/commands/state-commands.ts
  src/extension.ts
  src/services/file-loading-service.ts
  src/state/extension-state.ts
  src/types/file-loading-types.ts
  src/types/messages.ts
  src/views/base-webview-provider.ts
  src/views/components/squiggy-modifications-core.tsx
  src/views/components/squiggy-plot-options-core.tsx
  src/views/squiggy-modifications-panel.ts
  src/views/squiggy-plot-options-view.ts
  tests/test_api.py
Due: python, typescript, Python Backend, TypeScript Extension

fix: Sync POD5/BAM status and samples to UI panels on load
  src/extension.ts
Due: typescript, TypeScript Extension

fix: Support multi-sample mode in plot functions and rename panel
  package.json
  squiggy/__init__.py
  squiggy/io.py
  src/views/squiggy-plot-options-view.ts
Due: python, typescript, Python Backend, TypeScript Extension

test: Add 44 new tests to improve utils.py coverage
  tests/test_utils.py
Due: none

fix: Rename unused loop variable to satisfy linter
  tests/test_utils.py
Due: none

chore: Update package-lock.json
  package-lock.json
Due: none

feat: Comprehensive error handling refactoring and testing infrastructure (Phases 1-2-6)
  TESTING_STRATEGY.md
  jest.config.js
  pyproject.toml
  src/__mocks__/vscode.ts
  src/backend/positron-runtime-client.ts
  src/backend/squiggy-runtime-api.ts
  src/types/messages.ts
  src/utils/error-handler.ts
  src/views/base-webview-provider.ts
Due: typescript, TypeScript Extension

fix: Resolve Python syntax errors and UI synchronization issues
  src/backend/squiggy-runtime-api.ts
  src/extension.ts
  src/views/squiggy-plot-options-view.ts
Due: typescript, TypeScript Extension

refactor: Reorganize Python library - move plotting code, centralize logging, reduce duplication (#101)
  squiggy/__init__.py
  squiggy/api.py
  squiggy/logging_config.py
  squiggy/modifications.py
  squiggy/plot_strategies/signal_overlay_comparison.py
  squiggy/plotting.py
  squiggy/utils.py
Due: python, Python Backend
