Repository rnabioco/squiggy-positron: changes, and which Codecov flags are due for each by the changed paths.
All: python, typescript, Python Backend, TypeScript Extension

chore: Apply prettier formatting to test file
  src/views/__tests__/squiggy-plot-options-view.test.ts
Due: typescript, TypeScript Extension

fix: Adjust coverage thresholds to match achieved levels
  jest.config.js
Due: none

fix: Lower coverage thresholds to match CI levels
  jest.config.js
Due: none

feat: Implement multi-sample overlay and stacked plotting with sample-based coloring
  squiggy/io.py
  squiggy/plot_strategies/overlay.py
  squiggy/plot_strategies/stacked.py
  squiggy/plotting.py
  src/backend/squiggy-runtime-api.ts
  src/commands/plot-commands.ts
  src/extension.ts
  src/types/messages.ts
  src/views/components/squiggy-plot-options-core.tsx
  src/views/components/squiggy-samples-core.tsx
  src/views/squiggy-plot-options-view.ts
Due: python, typescript, Python Backend, TypeScript Extension

refactor: Refactor extension and significantly improve test covergae
  .gitignore
  TESTING_STRATEGY.md
  jest.config.js
  jest.setup.js
  package-lock.json
  package.json
  pyproject.toml
  src/__mocks__/vscode.ts
  src/backend/__tests__/positron-runtime-client.test.ts
  src/backend/__tests__/squiggy-positron-runtime.test.ts
  src/backend/__tests__/squiggy-runtime-api.test.ts
  src/backend/positron-runtime-client.ts
  src/backend/squiggy-runtime-api.ts
  src/commands/__tests__/file-commands.test.ts
  src/commands/__tests__/plot-commands.test.ts
  src/commands/__tests__/session-commands.test.ts
  src/commands/__tests__/state-commands.test.ts
  src/state/__tests__/file-resolver.test.ts
  src/state/__tests__/path-resolver.test.ts
  src/state/__tests__/session-state-manager.test.ts
  src/types/messages.ts
  src/utils/__tests__/error-handler.test.ts
  src/utils/error-handler.ts
  src/views/__tests__/squiggy-file-panel.test.ts
  src/views/__tests__/squiggy-modifications-panel.test.ts
  src/views/__tests__/squiggy-motif-panel.test.ts
  src/views/__tests__/squiggy-plot-options-view.test.ts
  src/views/__tests__/squiggy-reads-view-pane.test.ts
  src/views/__tests__/squiggy-session-panel.test.ts
  src/views/base-webview-provider.ts
  src/views/components/__tests__/column-resizer.test.tsx
  src/views/components/__tests__/squiggy-read-item.test.tsx
  src/views/components/__tests__/squiggy-reference-group.test.tsx
  src/webview/__tests__/squiggy-plot-panel.test.ts
Due: typescript, TypeScript Extension

chore: remove leftover planning file
  TESTING_STRATEGY.md
Due: none

feat: Synchronize sample selection between Samples and Plotting panels
  src/extension.ts
  src/state/extension-state.ts
  src/types/messages.ts
  src/views/components/squiggy-plot-options-core.tsx
  src/views/squiggy-plot-options-view.ts
Due: typescript, TypeScript Extension

docs: Comprehensive documentation updates and API sync
  .claude/commands/docs.md
  docs/api.md
  docs/quick_reference.md
  mkdocs.yml
  package-lock.json
  pyproject.toml
  squiggy/api.py
  squiggy/logging_config.py
  squiggy/motif.py
  squiggy/plot_factory.py
  squiggy/plot_strategies/aggregate.py
  squiggy/plot_strategies/base.py
  squiggy/plot_strategies/delta.py
  squiggy/plot_strategies/eventalign.py
  squiggy/plot_strategies/overlay.py
  squiggy/plot_strategies/signal_overlay_comparison.py
  squiggy/plot_strategies/single_read.py
  squiggy/plot_strategies/stacked.py
  squiggy/plotting.py
  squiggy/rendering/base_annotation_renderer.py
  squiggy/rendering/modification_track_builder.py
  squiggy/rendering/theme_manager.py
  squiggy/utils.py
Due: python, Python Backend

feat: Improve error logging across codebase (#116)
  squiggy/alignment.py
  squiggy/api.py
  squiggy/cache.py
  squiggy/io.py
  squiggy/motif.py
  squiggy/normalization.py
  squiggy/plot_factory.py
  squiggy/plotting.py
  squiggy/utils.py
Due: python, Python Backend

feat: Add centralized Output Channel for extension logs (#116)
  docs/LOGGING.md
  package.json
  squiggy/logging_config.py
  src/extension.ts
  src/utils/error-handler.ts
  src/utils/logger.ts
Due: python, typescript, TypeScript Extension

fix: Update vscode mock to support logger Promises in tests
  src/__mocks__/vscode.ts
  src/utils/__mocks__/logger.ts
Due: typescript

fix: Update test expectations for 'Show Logs' button parameter
  src/utils/__tests__/error-handler.test.ts
Due: typescript

chore: Remove Jest coverage targets and thresholds
  jest.config.js
  package.json
Due: none

fix: Update GitHub Actions workflow to use npm test
  .github/workflows/test.yml
Due: none

feat: Add logging to common extension commands
  package-lock.json
  src/commands/file-commands.ts
  src/commands/plot-commands.ts
Due: typescript

feat: Add logging to demo session loader
  src/commands/session-commands.ts
Due: typescript

fix: Complete bidirectional sync for sample selection UI
  PLOT_MODES_AUDIT.md
  src/types/messages.ts
  src/views/components/squiggy-samples-core.tsx
  src/views/squiggy-samples-panel.ts
Due: typescript, TypeScript Extension

feat: Improve error logging across codebase (#116) (#117)
  .github/workflows/test.yml
  docs/LOGGING.md
  jest.config.js
  package-lock.json
  package.json
  squiggy/alignment.py
  squiggy/api.py
  squiggy/cache.py
  squiggy/io.py
  squiggy/logging_config.py
  squiggy/motif.py
  squiggy/normalization.py
  squiggy/plot_factory.py
  squiggy/plotting.py
  squiggy/utils.py
  src/__mocks__/vscode.ts
  src/commands/file-commands.ts
  src/commands/plot-commands.ts
  src/commands/session-commands.ts
  src/extension.ts
  src/utils/__mocks__/logger.ts
  src/utils/__tests__/error-handler.test.ts
  src/utils/error-handler.ts
  src/utils/logger.ts
Due: python, typescript, Python Backend, TypeScript Extension

feat: Consolidate plot modes - merge AGGREGATE + COMPARE_SIGNAL_OVERLAY (UI only)
  src/types/messages.ts
  src/views/components/squiggy-plot-options-core.tsx
Due: typescript, TypeScript Extension

refactor: Remove duplicate sample selection from Aggregate mode
  src/views/components/squiggy-plot-options-core.tsx
Due: typescript, TypeScript Extension

refactor: Reorder aggregate plot panels for better readability
  squiggy/plot_strategies/aggregate.py
Due: python

feat: consolidate aggregate modes and fix UI bugs
  src/extension.ts
  src/views/components/squiggy-plot-options-core.tsx
  src/views/squiggy-plot-options-view.ts
Due: typescript, TypeScript Extension

feat: add reference selector to delta plot UI
  src/backend/squiggy-runtime-api.ts
  src/commands/plot-commands.ts
  src/extension.ts
  src/types/messages.ts
  src/views/components/squiggy-plot-options-core.tsx
  src/views/squiggy-plot-options-view.ts
Due: typescript, TypeScript Extension

fix: resolve delta plot array length mismatch and Read Explorer refresh bug
  squiggy/plotting.py
  src/backend/squiggy-runtime-api.ts
  src/commands/file-commands.ts
  src/extension.ts
  src/views/components/squiggy-plot-options-core.tsx
  src/views/components/squiggy-reads-core.tsx
  src/views/squiggy-reads-view-pane.ts
Due: python, typescript, TypeScript Extension

feat: reorganize plot modes into 3 clear categories with UI improvements
  squiggy/io.py
  squiggy/plot_strategies/overlay.py
  squiggy/plot_strategies/stacked.py
  squiggy/plotting.py
  src/backend/squiggy-runtime-api.ts
  src/commands/plot-commands.ts
  src/extension.ts
  src/state/extension-state.ts
  src/types/messages.ts
  src/views/components/squiggy-plot-options-core.tsx
  src/views/components/squiggy-reads-core.tsx
  src/views/squiggy-plot-options-view.ts
  src/views/squiggy-reads-view-pane.ts
  src/views/squiggy-samples-panel.ts
Due: python, typescript, Python Backend, TypeScript Extension

fix: correct aggregate plot panel order and y_range setting
  squiggy/plot_strategies/aggregate.py
Due: python

fix: add missing state parameter to PlotOptionsViewProvider tests
  src/views/__tests__/squiggy-plot-options-view.test.ts
Due: typescript, TypeScript Extension

fix: format test file with Prettier
  src/views/__tests__/squiggy-plot-options-view.test.ts
Due: typescript, TypeScript Extension

fix: update TypeScript tests to match PR feature changes
  coverage.json
  package-lock.json
  squiggy/io.py
  squiggy/plot_factory.py
  squiggy/plotting.py
  squiggy/utils.py
  src/commands/__tests__/plot-commands.test.ts
  src/views/__tests__/squiggy-plot-options-view.test.ts
  src/views/components/__tests__/squiggy-reference-group.test.tsx
Due: python, typescript, Python Backend, TypeScript Extension

Multi-Sample Advanced Plotting with UI/UX Reorganization (#112)
  PLOT_MODES_AUDIT.md
  coverage.json
  package-lock.json
  package.json
  squiggy/__init__.py
  squiggy/constants.py
  squiggy/io.py
  squiggy/plot_factory.py
  squiggy/plot_strategies/aggregate.py
  squiggy/plot_strategies/aggregate_comparison.py
  squiggy/plot_strategies/overlay.py
  squiggy/plot_strategies/stacked.py
  squiggy/plotting.py
  squiggy/utils.py
  src/backend/squiggy-runtime-api.ts
  src/commands/__tests__/plot-commands.test.ts
  src/commands/file-commands.ts
  src/commands/plot-commands.ts
  src/extension.ts
  src/state/extension-state.ts
  src/types/messages.ts
  src/types/squiggy-reads-types.ts
  src/views/__tests__/squiggy-plot-options-view.test.ts
  src/views/components/__tests__/squiggy-reference-group.test.tsx
  src/views/components/squiggy-plot-options-core.tsx
  src/views/components/squiggy-reads-core.tsx
  src/views/components/squiggy-reads-instance.tsx
  src/views/components/squiggy-reference-group.tsx
  src/views/components/squiggy-samples-core.tsx
  src/views/components/webview-entry.tsx
  src/views/squiggy-plot-options-view.ts
  src/views/squiggy-reads-view-pane.ts
  src/views/squiggy-samples-panel.ts
  tests/test_aggregate_comparison_strategy.py
Due: python, typescript, Python Backend, TypeScript Extension

fix: Resolve incorrect "No samples loaded" message in Read Explorer (#115)
  package-lock.json
  src/views/components/squiggy-reads-core.tsx
Due: typescript, TypeScript Extension

fix: Auto-select demo sample in Read Explorer on session load (#115)
  src/state/extension-state.ts
  src/state/session-state-manager.ts
  src/types/squiggy-session-types.ts
Due: typescript

fix: Increase delay for sample auto-load to 1.5s with error handling (#115)
  src/state/extension-state.ts
Due: typescript

fix: Persist Read Explorer state when panel is minimized/reopened (#115)
  src/views/squiggy-reads-view-pane.ts
Due: typescript, TypeScript Extension

Path conditions:
  python: any of: squiggy/, but not: tests/**/*, build/**/*, docs/**/*, **/conftest.py, setup.py, legacy/**/*
  typescript: any of: src/, but not: tests/**/*, build/**/*, docs/**/*, **/conftest.py, setup.py, legacy/**/*
  Python Backend: any of: squiggy/io.py, squiggy/plotter.py, squiggy/alignment.py, squiggy/normalization.py, squiggy/modifications.py, squiggy/utils.py, but not: tests/**/*, build/**/*, docs/**/*, **/conftest.py, setup.py, legacy/**/*
  TypeScript Extension: any of: src/backend/, src/views/, src/webview/, src/extension.ts, but not: tests/**/*, build/**/*, docs/**/*, **/conftest.py, setup.py, legacy/**/*
