Repository rnabioco/squiggy-positron: changes, and which Codecov flags are due for each by the changed paths.
All: python, typescript, Python Backend, TypeScript Extension

codecov.yml:

# Codecov Configuration for Squiggy
# https://docs.codecov.com/docs/codecovyml-reference

# Notification settings (disable emails)
notify:
  email: off

# Coverage calculation settings
coverage:
  precision: 2  # Decimal places for coverage percentage
  round: down   # Round coverage percentages down
  range: 70..100  # Green at 100%, red at 70%

  # Status checks that appear on PRs
  status:
    # Overall project coverage
    project:
      default:
        target: auto  # Maintain current coverage level
        threshold: 0%  # Don't fail if coverage stays same
        informational: true  # Don't block PRs

    # Coverage on changed code (patch)
    patch:
      default:
        target: 70%  # Encourage good coverage on new code
        threshold: 0%  # Don't fail, just inform
        informational: true  # Don't block PRs

# PR comment configuration
comment: off  # Disable PR comments

# Paths to ignore in coverage calculation
ignore:
  - "tests/**/*"  # Don't measure coverage of test files
  - "build/**/*"  # Don't measure build scripts
  - "docs/**/*"   # Don't measure documentation
  - "**/conftest.py"  # Don't measure pytest fixtures
  - "setup.py"    # Don't measure setup script
  - "legacy/**/*"  # Don't measure archived Qt app code

# Flag-based coverage (track Python and TypeScript separately)
flags:
  python:
    paths:
      - squiggy/
    carryforward: true  # Use previous coverage if upload fails

  typescript:
    paths:
      - src/
    carryforward: true

# Component-based coverage (optional - can expand later)
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: backend
      name: "Python Backend"
      paths:
        - squiggy/io.py
        - squiggy/plotter.py
        - squiggy/alignment.py
        - squiggy/normalization.py
        - squiggy/modifications.py
        - squiggy/utils.py

    - component_id: frontend
      name: "TypeScript Extension"
      paths:
        - src/backend/
        - src/views/
        - src/webview/
        - src/extension.ts
      flag: typescript

chore: update npm
  .claude/settings.json
  package-lock.json
Due: none

Release v0.1.23-alpha
  CHANGELOG.md
  package-lock.json
  package.json
  pyproject.toml
  squiggy/__init__.py
  squiggy/api.py
  squiggy/io/core.py
  squiggy/io/samples.py
  squiggy/utils/bam.py
  src/commands/file-commands.ts
  tests/test_api.py
Due: python, typescript

update claude release command
  .claude/commands/release.md
Due: none

chore: add push confirmation checkpoint to release command
  .claude/commands/release.md
Due: none

feat: add pipeline session auto-detection and loading (#174)
  package-lock.json
  package.json
  src/commands/session-commands.ts
  src/extension.ts
  src/state/path-resolver.ts
  src/state/pipeline-session-detector.ts
Due: typescript, TypeScript Extension

docs: update changelog for v0.1.24-alpha
  CHANGELOG.md
Due: none

Release v0.1.24-alpha
  package-lock.json
  package.json
  pyproject.toml
  squiggy/__init__.py
Due: python

fix: improve pipeline session detection and large file handling
  src/state/pipeline-session-detector.ts
Due: typescript

build: migrate documentation from mkdocs to zensical
  .github/workflows/docs.yml
  pixi.lock
  pixi.toml
Due: none

fix: replace doc asset symlinks with real files for zensical
  docs/assets/logo.svg
  docs/screenshot.png
Due: none

feat: progressive sample loading with skeleton UI
  src/state/extension-state.ts
  src/types/loaded-item.ts
  src/types/messages.ts
  src/views/components/squiggy-samples-core.css
  src/views/components/squiggy-samples-core.tsx
  src/views/squiggy-samples-panel.ts
Due: typescript, TypeScript Extension

feat: per-workspace opt-in for Squiggy extension
  package-lock.json
  package.json
  src/extension.ts
Due: typescript, TypeScript Extension

feat: upfront session file validation with consolidated error dialog
  src/commands/__tests__/session-commands.test.ts
  src/commands/session-commands.ts
  src/extension.ts
  src/state/extension-state.ts
  src/state/pipeline-session-detector.ts
Due: typescript, TypeScript Extension

style: fix Prettier formatting
  src/state/extension-state.ts
  src/state/pipeline-session-detector.ts
Due: typescript

feat: add reference-aligned signal overlay plot strategy
  squiggy/constants.py
  squiggy/plot_factory.py
  squiggy/plot_strategies/reference_overlay.py
  squiggy/plotting.py
  src/commands/__tests__/plot-commands.test.ts
  src/commands/plot-commands.ts
  src/extension.ts
  src/types/messages.ts
  src/views/components/squiggy-plot-options-core.tsx
  src/views/squiggy-plot-options-panel.ts
  tests/test_plot_factory.py
  tests/test_reference_overlay_strategy.py
Due: python, typescript, TypeScript Extension

fix: gate reference overlay on hasBam only, not hasEvents
  src/views/components/squiggy-plot-options-core.tsx
Due: typescript, TypeScript Extension

Release v0.1.26-alpha
  CHANGELOG.md
  package-lock.json
  package.json
  pyproject.toml
  squiggy/__init__.py
  squiggy/alignment.py
  squiggy/plot_strategies/reference_overlay.py
  squiggy/plotting.py
  src/commands/plot-commands.ts
  src/extension.ts
  src/types/messages.ts
  src/views/components/squiggy-plot-options-core.tsx
  src/views/squiggy-plot-options-panel.ts
  tests/test_alignment.py
  tests/test_reference_overlay_strategy.py
Due: python, typescript, Python Backend, TypeScript Extension

fix: absolute session paths, read-only workspace fallback, collapsed error popups
  src/extension.ts
  src/state/__tests__/session-state-manager.test.ts
  src/state/extension-state.ts
  src/state/pipeline-session-detector.ts
  src/state/session-state-manager.ts
  src/utils/config-utils.ts
  src/views/squiggy-plot-options-panel.ts
Due: typescript, TypeScript Extension

Release v0.1.27-alpha
  CHANGELOG.md
  package-lock.json
  package.json
  pyproject.toml
  squiggy/__init__.py
  src/state/__tests__/session-state-manager.test.ts
  src/state/session-state-manager.ts
Due: python, typescript

feat: deferred on-demand sample loading for large sessions
  src/state/extension-state.ts
  src/types/loaded-item.ts
  src/types/messages.ts
  src/views/components/squiggy-samples-core.tsx
  src/views/squiggy-samples-panel.ts
Due: typescript, TypeScript Extension

Release v0.1.28-alpha
  CHANGELOG.md
  package-lock.json
  package.json
  pyproject.toml
  squiggy/__init__.py
Due: python

fix: remove duplicate Cancel buttons from modal dialogs
  src/commands/session-commands.ts
  src/state/pipeline-session-detector.ts
Due: typescript

fix: demo session auto-loads immediately, fix isDeferred reset
  src/state/extension-state.ts
Due: typescript

perf: use pod5 Arrow metadata for instant POD5 loading
  docs/api.md
  squiggy/__init__.py
  squiggy/cache.py
  squiggy/io/__init__.py
  squiggy/io/core.py
  squiggy/io/kernel.py
  squiggy/io/performance.py
  src/views/components/squiggy-plot-options-core.css
  tests/test_cache.py
Due: python, typescript, TypeScript Extension

Release v0.1.29-alpha
  CHANGELOG.md
  package-lock.json
  package.json
  pyproject.toml
  squiggy/__init__.py
Due: python

feat: replace yeast demo data with E. coli tRNA (WT vs TruB)
  .claude/README.md
  .github/pull_request_template.md
  CLAUDE.md
  docs/developer.md
  docs/guides/MANUAL_TESTING_GUIDE.md
  docs/guides/PYPI_README.md
  docs/user_guide.md
  examples/motif_analysis.ipynb
  examples/notebook_api_demo.ipynb
  scripts/setup-test-workspace.sh
  squiggy/data/README.md
  squiggy/data/ecoli_trna.fa
  squiggy/data/ecoli_trna.fa.fai
  squiggy/data/ecoli_trna_tb_mappings.bam
  squiggy/data/ecoli_trna_tb_mappings.bam.bai
  squiggy/data/ecoli_trna_tb_reads.pod5
  squiggy/data/ecoli_trna_wt_mappings.bam
  squiggy/data/ecoli_trna_wt_mappings.bam.bai
  squiggy/data/ecoli_trna_wt_reads.pod5
  squiggy/data/yeast_trna.fa
  squiggy/data/yeast_trna.fa.fai
  squiggy/data/yeast_trna_mappings.bam
  squiggy/data/yeast_trna_mappings.bam.bai
  squiggy/data/yeast_trna_reads.pod5
  squiggy/utils/paths.py
  src/commands/file-commands.ts
  src/commands/session-commands.ts
  src/config/demo-session.json
  src/state/__tests__/session-state-manager.test.ts
  src/state/session-state-manager.ts
  src/types/loaded-item.ts
  src/views/components/squiggy-session-core.tsx
  tests/conftest.py
  tests/test_motif.py
  tests/test_motif_utils.py
Due: python, typescript, TypeScript Extension

Release v0.1.30-alpha
  CHANGELOG.md
  package-lock.json
  package.json
  pyproject.toml
  squiggy/__init__.py
Due: python

fix: filter unloaded samples from plot options, add missing ChEBI mod code mappings
  src/extension.ts
  src/views/components/squiggy-modifications-core.tsx
Due: typescript, TypeScript Extension

Release v0.1.31-alpha
  CHANGELOG.md
  package-lock.json
  package.json
  pyproject.toml
  squiggy/__init__.py
Due: python

improve: sample loading UX with granular progress and batched metadata
  src/backend/__tests__/squiggy-runtime-api.test.ts
  src/backend/squiggy-runtime-api.ts
  src/commands/file-commands.ts
  src/services/file-loading-service.ts
  src/state/extension-state.ts
Due: typescript, TypeScript Extension

fix: make pipeline session detection prompt persistent (modal)
  src/extension.ts
Due: typescript, TypeScript Extension

feat: add Unload All button to samples pane and fix button cutoff
  src/types/messages.ts
  src/views/components/squiggy-samples-core.css
  src/views/components/squiggy-samples-core.tsx
  src/views/squiggy-samples-panel.ts
Due: typescript, TypeScript Extension
