Repository rnabioco/squiggy-positron: changes, and which Codecov flags are due for each by the changed paths.
All: python, typescript, Python Backend, TypeScript Extension

codecov.yml:

# Codecov Configuration for Squiggy
# https://docs.codecov.com/docs/codecovyml-reference

# Notification settings (disable emails)
notify:
  email: off

# Coverage calculation settings
coverage:
  precision: 2  # Decimal places for coverage percentage
  round: down   # Round coverage percentages down
  range: 70..100  # Green at 100%, red at 70%

  # Status checks that appear on PRs
  status:
    # Overall project coverage
    project:
      default:
        target: auto  # Maintain current coverage level
        threshold: 0%  # Don't fail if coverage stays same
        informational: true  # Don't block PRs

    # Coverage on changed code (patch)
    patch:
      default:
        target: 70%  # Encourage good coverage on new code
        threshold: 0%  # Don't fail, just inform
        informational: true  # Don't block PRs

# PR comment configuration
comment: off  # Disable PR comments

# Paths to ignore in coverage calculation
ignore:
  - "tests/**/*"  # Don't measure coverage of test files
  - "build/**/*"  # Don't measure build scripts
  - "docs/**/*"   # Don't measure documentation
  - "**/conftest.py"  # Don't measure pytest fixtures
  - "setup.py"    # Don't measure setup script
  - "legacy/**/*"  # Don't measure archived Qt app code

# Flag-based coverage (track Python and TypeScript separately)
flags:
  python:
    paths:
      - squiggy/
    carryforward: true  # Use previous coverage if upload fails

  typescript:
    paths:
      - src/
    carryforward: true

# Component-based coverage (optional - can expand later)
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: backend
      name: "Python Backend"
      paths:
        - squiggy/io.py
        - squiggy/plotter.py
        - squiggy/alignment.py
        - squiggy/normalization.py
        - squiggy/modifications.py
        - squiggy/utils.py

    - component_id: frontend
      name: "TypeScript Extension"
      paths:
        - src/backend/
        - src/views/
        - src/webview/
        - src/extension.ts
      flag: typescript

chore: update pixi.lock
  pixi.lock
Due: none

fix: clarify startup progress message
  src/extension.ts
Due: typescript, TypeScript Extension

refactor: move version from sidebar title to status bar
  package.json
  scripts/sync-version.js
  src/extension.ts
Due: typescript, TypeScript Extension

feat: add script for extracting genomic DNA test data
  scripts/create_gdna_test_data.py
Due: none

fix: use DatasetReader for multi-file POD5 support
  scripts/create_gdna_test_data.py
Due: none

fix: remove missing_ok parameter for DatasetReader
  scripts/create_gdna_test_data.py
Due: none

fix: handle corrupted POD5 files gracefully
  scripts/create_gdna_test_data.py
Due: none

fix: oversample 3x to ensure target read count
  scripts/create_gdna_test_data.py
Due: none

feat: add short argument flags and change default output dir
  scripts/create_gdna_test_data.py
Due: none

feat: add reference header panel to aggregate plot
  squiggy/plot_strategies/aggregate.py
  tests/test_aggregate_strategy.py
Due: python

feat: add sample name to header and left-justify
  squiggy/plot_strategies/aggregate.py
  squiggy/plotting.py
  tests/test_aggregate_strategy.py
Due: python

feat: add reference header panel to aggregate plot (#170)
  squiggy/plot_strategies/aggregate.py
  squiggy/plotting.py
  tests/test_aggregate_strategy.py
Due: python

chore: update package-lock.json
  package-lock.json
Due: none

feat: select reads based on per-base coverage depth
  scripts/create_gdna_test_data.py
Due: none

fix: ensure POD5 and BAM contain matching reads
  scripts/create_gdna_test_data.py
Due: none

feat: add pileup-only visualization for BAMs without move tables
  squiggy/__init__.py
  squiggy/io/samples.py
  squiggy/plotting.py
  squiggy/utils/__init__.py
  squiggy/utils/bam.py
  squiggy/utils/statistics.py
  src/backend/squiggy-runtime-api.ts
  src/commands/file-commands.ts
  src/extension.ts
  src/listeners/kernel-listeners.ts
  src/state/extension-state.ts
  src/types/messages.ts
  src/views/components/squiggy-plot-options-core.css
  src/views/components/squiggy-plot-options-core.tsx
Due: python, typescript, TypeScript Extension

add scripts to generate example genomic DNA data
  .gitignore
  examples/data/make-gdna-example-data.log
  examples/data/make-gdna-example-data.sh
Due: none

feat: add coverage depth panel to aggregate plots
  squiggy/constants.py
  squiggy/plot_strategies/aggregate.py
  squiggy/plotting.py
  squiggy/rendering/theme_manager.py
  src/backend/squiggy-runtime-api.ts
  src/commands/plot-commands.ts
  src/extension.ts
  src/types/messages.ts
  src/views/components/squiggy-plot-options-core.tsx
  src/views/squiggy-plot-options-panel.ts
Due: python, typescript, TypeScript Extension

feat: format x-axis with comma separators for large genomic coordinates
  package-lock.json
  squiggy/plot_strategies/aggregate.py
  squiggy/plotting.py
  squiggy/rendering/theme_manager.py
  src/backend/squiggy-runtime-api.ts
  src/extension.ts
  src/types/messages.ts
  src/views/components/squiggy-plot-options-core.tsx
  src/views/squiggy-plot-options-panel.ts
  tests/test_aggregate_strategy.py
Due: python, typescript, TypeScript Extension

fix: force fresh squiggy import on kernel start/restart
  src/backend/squiggy-kernel-manager.ts
Due: typescript, TypeScript Extension

chore: remove unused base_display_map variable
  package-lock.json
  squiggy/plot_strategies/aggregate.py
  squiggy/plotting.py
  tests/test_aggregate_strategy.py
Due: python

feat: add pileup-only visualization for BAMs without move tables (#171)
  squiggy/__init__.py
  squiggy/constants.py
  squiggy/io/samples.py
  squiggy/plot_strategies/aggregate.py
  squiggy/plotting.py
  squiggy/rendering/theme_manager.py
  squiggy/utils/__init__.py
  squiggy/utils/bam.py
  squiggy/utils/statistics.py
  src/backend/squiggy-kernel-manager.ts
  src/backend/squiggy-runtime-api.ts
  src/commands/file-commands.ts
  src/commands/plot-commands.ts
  src/extension.ts
  src/listeners/kernel-listeners.ts
  src/state/extension-state.ts
  src/types/messages.ts
  src/views/components/squiggy-plot-options-core.css
  src/views/components/squiggy-plot-options-core.tsx
  src/views/squiggy-plot-options-panel.ts
  tests/test_aggregate_strategy.py
Due: python, typescript, TypeScript Extension

feat: add script for extracting genomic DNA test data (#172)
  .gitignore
  examples/data/make-gdna-example-data.log
  examples/data/make-gdna-example-data.sh
  scripts/create_gdna_test_data.py
Due: none

Release v0.1.22-alpha
  CHANGELOG.md
  package-lock.json
  package.json
  pyproject.toml
  squiggy/__init__.py
Due: python

fix: improve Read Explorer table column alignment and reference collapse bug
  src/types/squiggy-reads-types.ts
  src/views/components/squiggy-read-item.css
  src/views/components/squiggy-read-item.tsx
  src/views/components/squiggy-reads-core.tsx
  src/views/components/squiggy-reads-instance.css
  src/views/components/squiggy-reads-instance.tsx
  src/views/components/squiggy-reference-group.css
  src/views/components/squiggy-reference-group.tsx
Due: typescript, TypeScript Extension

feat: auto-detect RNA basecalling model and enable RNA mode
  squiggy/cache.py
  squiggy/io/core.py
  src/backend/squiggy-runtime-api.ts
  src/commands/file-commands.ts
  src/extension.ts
  src/services/__tests__/file-loading-service.test.ts
  src/services/file-loading-service.ts
  src/state/extension-state.ts
  src/types/file-loading-types.ts
  src/types/loaded-item.ts
  src/types/messages.ts
  src/views/__tests__/squiggy-plot-options-panel.test.ts
  src/views/components/__tests__/squiggy-read-item.test.tsx
  src/views/components/__tests__/squiggy-reference-group.test.tsx
  src/views/components/squiggy-read-item.tsx
  src/views/components/squiggy-reads-core.tsx
  src/views/components/squiggy-reads-instance.tsx
  src/views/components/squiggy-reference-group.tsx
  src/views/squiggy-plot-options-panel.ts
Due: python, typescript, TypeScript Extension

feat: add adapter trimming option to remove soft-clipped regions from signal
  package-lock.json
  squiggy/alignment.py
  squiggy/plot_strategies/base.py
  squiggy/plot_strategies/eventalign.py
  squiggy/plot_strategies/single_read.py
  squiggy/plotting.py
  src/backend/squiggy-runtime-api.ts
  src/commands/plot-commands.ts
  src/extension.ts
  src/state/__tests__/session-state-manager.test.ts
  src/state/extension-state.ts
  src/state/session-state-manager.ts
  src/types/messages.ts
  src/types/squiggy-session-types.ts
  src/views/__tests__/squiggy-plot-options-panel.test.ts
  src/views/components/squiggy-plot-options-core.tsx
  src/views/squiggy-plot-options-panel.ts
  tests/test_adapter_trimming.py
Due: python, typescript, Python Backend, TypeScript Extension

chore: npm audit fix
  package-lock.json
Due: none
